@import "wacko.css";

/* basic -------------------------------------------------- */
p, td, li, select, textarea {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 13px;
	line-height: 1.3em;
}

/* pre {
	font-family:"Lucida Console","Courier New",monospace;
	text-align:left;
	white-space:pre;
} */

/* cellspacing */
table {
	border-collapse:collapse;
	border-spacing: 0;
	
}
/* cellpadding */
th, td {
	padding: 0px;
}

label {
	cursor: pointer;
}

/* Textareas */
select, 
textarea, 
input:not([type]), 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"] {
	background-color: #FFFFFF;
	border: 1px solid #cccccc;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	border: 1px solid #ccc;
	display: inline-block;
	font-size: 14px;
	height: auto;
	/* line-height: 1.6em; */
	/* margin-bottom: 9px; */
}

input[type=text]:hover,
input[type=search]:hover,
input[type=email]:hover,
input[type=password]:hover,
textarea:hover {
	border: 1px solid #93cee9;
}
input[type=text]:focus,
input[type=search]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
	border: 1px solid #3daee9;
	/* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6); */
}

body {
	font-family: Verdana;
	font-size: 14px;
	line-height: 1.3;
	color: #000000;
	background-color: #fcfcfc;
	margin: 0px;
}

/* Hyperlinks */
a {
	color: #003399;
	text-decoration: none;
}

a:link {
	color: #003399;
}

a:visited {
	color: #990000;
}

a:hover {
	color: #B90022;
	/*color: #FF6622;*/
	text-decoration: underline;
}

a:active {
	color: #FF0000;
}

a:target {
	/* color: #FF0000; */
	/* border: 2px solid #FF6600; */
	background-color:#FFEEEE;
	/* padding: 5px 10px; */
}

svg, img {
	border-width: 0px;
	vertical-align: middle;
	max-width: 100%;
	height:auto;
}

kbd {
	background-color: #f7f7f7;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
	color: #333;
	display: inline-block;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	line-height: 1.4;
	margin: 0 0.1em;
	padding: 0.1em 0.6em;
	text-shadow: 0 1px 0 #fff;
	white-space: nowrap;
}

.clearfix:after,
#mainwrapper:after {
	content: "";
	display: table;
	clear: both;
}

form input.submitinput {
	color: #000;
}

.main, .main a, .main a:visited {
	color:#000000;
	text-decoration:none;
	font-weight: bold;
}

.print {
	font-family: Verdana;
	font-size: 12px;
}

/* show message boxes */
.error {
	background: #f8d4cc;
	margin: 10px;
	padding: 10px 10px 10px 40px;
	color: #CC3333;
	font-weight: bold;
}

.info {
	background: #F4FBFF;
	margin: 10px;
	padding: 10px 10px 10px 40px;
	border: 1px solid #D5D9E6;
	color: #CC3333;
	font-weight: bold;
}
.notice {
	background-color: #FFFFEF;
	border: 1px dotted #DDDDAA;
	font-size: 0.75em;
	height: 35px;
	line-height: 35px;
	margin: 0 0 10px;
	overflow: hidden;
	padding: 0 10px;
}


/* Debugging informations*/
.time {
	color: #999999;
	font-size: 9px;
	margin: 5px 20px;
}

#debug {
	padding: 0 20px 20px 20px;
	float: left;
}
.debug, #debug li, #debug pre {
	font-size: 11px;
	color: #888888;
	/* font-family:"Lucida Console","Courier New",monospace; */
}

header {
	padding: 0px;
	float: left;
	width: 96%;
}

#header-main {
	clear: both;
	overflow: hidden;
	float: left;
	padding: 20px 20px 5px 20px;
	background: #FFFFFF;
	width: 100%;
}

.menu-main {
	padding: 5px 20px 0;
	float: left;
	/*overflow: hidden;
	*/
	height: 25px;
	background:#FFFFFF;
	width: 100%;
}

.breadcrumb {
	/*overflow:hidden;#F6F6F6*/
	/* background: #D2D0D0; */
	border-bottom:1px dotted #B2B0B0;
	border-top:1px dotted #B2B0B0;
	/*clear:both;
	*/color:#333333;
	font-size:0.75em;
	font-weight:normal;
	margin:0;
	padding: 0.1em 20px;
	float:left;
	 width: 100%;
}

/** Styles for the main content in the page. *********************************/
	/* Default settings */
	
#mainwrapper {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
	margin-top: 0;
}

main {
	background-color: #FFFFFF;
	padding: 9px 20px 0px;
	float: left;
	width: 96%;
	clear: both;
}

article, #page {
	background-color: #FFFFFF;
	padding: 5px 0px 20px 0px;
	float: left;
	width: 100%;
	min-height: 200px;
}

#pageedit {
	background-color: #FFFFFF;
	border-bottom: none;
	padding: 5px 0px 20px;
	float: left;
	width: 100%;
}

#pageedit form textarea {
	width: 100%;
	height: 400px;
}

footer {
	float: left;
	width: 96%;
}

.footer {
	background-color: #F0F4F5;
	padding: 5px 20px;
	border-top: none;
	border-top: 1px dotted #CCCCCC;
}

.footer {
	margin: 0;
	float: left;
	height: auto;
	overflow: hidden;
	clear: both;
	width: 100%;
}

.footerlist {
	margin: 0 auto 0;
	overflow: hidden;
}

.footerlist ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footerlist li {
	border-left: 1px solid #ccc;
	border-left-style: dotted;
	float: left;
	line-height: 1.2em;
	margin: 0 .5em 0 -.5em;
	padding: 0 .5em 0 .5em;
	white-space: nowrap;
}

.footerlist ul li form {
	display: inline;
}

/** File and comment-related *************************************************/
	/* Headers (always visible) */
#filesheader, #commentsheader, #rateheader {
	background-color: #F0F4F5;
	padding: 2px 20px;
	margin: 0 -20px;
	border-top: 1px dotted #CCCCCC;
	float: left;
	width: 100%;
}

.files, .comment, .rating, .category {
	background-color: #FFFFFF;
	padding: 10px 20px;
	margin: 0 -20px;
	border-bottom: 1px solid #EEEEEE;
	float: left;
	width: 100%;
}

.comment:target {
	border: 2px solid #FF6600;
	padding: 10px 18px;
}

.comment:hover {
	/* border: 2px solid #FF6600; */
	background-color: #E7F9FF;
}

/* Comment author and date */
.commentinfo {
	color: #AAAAAA;
	padding-bottom: 20px;
	float: right;
	list-style-type: none;
}

li.comment {
	overflow: hidden;
}
ol#comments{
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 10px 0 0;
	padding: 0;
}

.commentinfo li {
	border:medium none;
	margin:0;
	padding:0;
	width:320px;
}

.commenttool, .commenttool a {
	color: #7f919e;
}
.commenttool li {
	border:medium none;
	margin:0;
	padding:0;
	
	float: left;
	font-size: 13px;
	line-height: 15px;
	list-style-type: none;
	margin: 0 7px 0 0;
}

.vote-down {
	border-color: rgba(0, 39, 59, 0.08);
	border-left: 2px solid rgba(0, 39, 59, 0.08);
	padding-left: 6px;
	padding-right: 0;
}

.commenttext, .commenttool {
	float: left;
	width: 800px;
}

.commenttitle {
	line-height: 22px;
	font-weight: bold;
}
.commentpreview {
	width: 800px;
}

/* Change summary */
.editnote {
	color: #555555;
}

.review {
	font-weight:bold;
}

.filesform,.commentform {
	padding: 10px 20px;
	margin: 0 -20px;
	border-top: 1px solid #CCCCCC;
	background-color: #FCFCFC;
	float: left;
	width: 100%;
}

.commentform form {
	width: 100%;
}

.commentform form textarea {
	width: 100%;
	height: auto;
	padding: 0;
}

#credits {
	font-size: 11px;
	color: #AAAAAA;
	text-align: right;
	padding:0px 20px;
	float: left;
	width: 100%;
}

#credits a {
	color: #AAAAAA;
}

#credits a:active {
	color: #FF0000;
}

.name {
	text-align: right;
	font-size: 11px;
}

/* Included pages: SYNTAX {{include file="xyz"}} */
.include {
	background-color: #FCFCFC;
	padding: 8px;
}

/* Outgoing hyperlinks: SYNTAX ((http://slashdot.org nerds)) */
.outerlink {
	color: #990000;
}

fieldset {
	padding: 10px;
}

.missingpage {
	border-bottom: 1px dashed orange;
}

.searchbar {
	background-color: #F0F4F5;
	font-family: Verdana;
	font-size: 13px;
	line-height: 1.3em;
}

.searchbar input {
	border: none;
	border-bottom: 1px solid #CCCCAA;
	padding: 0px;
	margin: 0px;
}

.logBtn {
	height: 21px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

#tooltip {
	background: #FFFFFF;
	border: 1px solid #666666;
	color: #333333;
	font: menu;
	margin: 0px;
	padding: 3px 5px;
	position: absolute;
	visibility: hidden
}

.upload {
/*	 border: 0 none;
	border-collapse: collapse; */
	width: 100%;
}

.tbl_fixed
{
	table-layout: fixed;
}

.upload img {
/* 	max-width: 10%;
	max-height: 10%;
	transform: scale(10); */
}

.upload tr:hover {
	background: #CCFFCC
}

.upload td {
	padding: 2px 5px 2px 5px;
	vertical-align: top
}

.upload td.dt-,
.upload td.file- {
	white-space: nowrap;
	/* font-size: 80%;
	font-weight: bold; */
	color: #000000;
	vertical-align: top;
}

td.file- {
	width: 50%;
}

.upload td.dt- {
	padding-right: 0;
}

.upload td.tool- {
	padding-right: 0;
	width: 5%;
}

.upload td.size- {
	padding-right: 0;
	text-align: right;
}

.upload td.desc- {
	font-size: 80%;
	color: #444444;
}

.upload td.dt- .dt2-, .upload td.tool- .tool2-, .upload td.size- .size2- {
	font: 11px Tahoma;
	color: #666666;
	padding: 5px;
	white-space: nowrap;
}

.upload td.tool- a.tool2-:hover, .upload td.tool- a.tool2-:active {
	color: #ff0000
}

.preview {
	margin-top: .8em;
	margin-left: 2px;
	margin-bottom: 2px;
	margin-right: 2px;
	padding: 10px;
	border: red 2px solid;
}

p.preview {
	color: red;
	font-weight: bold;
	margin: -1.5em 0px 10px 0px;
	padding: 0;
	border: 0;
}

.preview p span {
	background: #FFF;
	padding: 0 1px;
}

.layout-box {
	margin-top: .8em;
	margin-left: 2px;
	margin-bottom: 2px;
	margin-right: 2px;
	padding: 10px;
	border: #CCCCCC 1px dotted;
	background-color: #fcfcfc;
}

p.layout-box {
	background: transparent;
	margin: -1.5em 0px 10px 0px;
	padding: 0;
	border: 0;
}

p.layout-box span {
	background: #FFF;
	padding: 0 1px;
}

.layout-box dd {
	margin:-20px 0 0 50px;
	padding:0;
	line-height:25px;
}
.layout-box dd:target,
.footnote *:target,
a:target {
	background-color:#FFEEEE;
}

.buttonsspacer {
	width: 10px;
	height: 1px;
}

/** Wikiedit-related (JavaScript) ********************************************/
	/* WikiEdit Toolbar -------------------------------------- */

#buttons_1 {
	clear:none;
	float:left;
	padding:0 0 0 0;
}

#buttons_1 li {
	float:left;
	padding-right:0.3em;
	white-space:nowrap;
	list-style:none outside none;
}

.toolbar li {
	background: ButtonFace;
}

.toolbar .btn-, .toolbar .btn-hover, .toolbar .btn-active, .toolbar .btn-pressed {
	background: ButtonFace;
	color: ButtonText;
	border: 1px solid ButtonFace;
	padding: 1px;
	margin: 0px;
	cursor: pointer;
}

.toolbar .btn-hover {
	border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}

.toolbar .btn-active, .toolbar .btn-pressed {
	border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}

.toolbar .btn-pressed {
	background: ButtonHighlight;
}

.toolbar .btn-separator {
	border-left: 1px solid buttonshadow;
	border-right: 1px solid buttonhighlight;
	height: 20px;
	margin: 3px;
	padding: 0;
	width: 0;
}

.toolbar img, 
.toolbar a img, 
.toolbar span img {
	border: medium none;
	height: 22px;
	width: 22px;
}
.toolbar li img {
	background-size: 22px 22px;
}
.toolbar li.we-h1 img {
	background-image:url("../../../image/wikiedit/h1.svg");
	background-repeat: no-repeat;
}
.toolbar li.we-h2 img {
	background-image:url("../../../image/wikiedit/h2.svg");
	background-repeat: no-repeat;
}
.toolbar li.we-h3 img {
	background-image:url("../../../image/wikiedit/h3.svg");
	background-repeat: no-repeat;
}
.toolbar li.we-h4 img {
	background-image:url("../../../image/wikiedit/h4.svg");
	background-repeat: no-repeat;
}
.toolbar li.we-h5 img {
	background-image:url("../../../image/wikiedit/h5.svg");
	background-repeat: no-repeat;
}
.toolbar li.we-h6 img {
	background-image:url("../../../image/wikiedit/h6.svg");
	background-repeat: no-repeat;
}
.toolbar li.we-bold img {
	background-image:url("../../../image/wikiedit/bold.svg");
	background-repeat: no-repeat;
}
.toolbar li.we-italic img {
	background-image:url("../../../image/wikiedit/italic.svg");
	background-repeat: no-repeat;
}
.toolbar li.we-underline img {
	background-image:url("../../../image/wikiedit/underline.svg");
	background-repeat: no-repeat;
}
.toolbar li.we-strike img {
	background-image:url("../../../image/wikiedit/strike.svg");
	background-repeat: no-repeat;
}
.toolbar li.we-ul img {
	background-image:url("../../../image/wikiedit/ul.svg");
	background-repeat: no-repeat;
}
.toolbar li.we-ol img {
	background-image:url("../../../image/wikiedit/ol.svg");
	background-repeat: no-repeat;
}
.toolbar li.we-center img {
	background-image:url("../../../image/wikiedit/center.svg");
	background-repeat: no-repeat;
}
.toolbar li.we-justify img {
	background-image:url("../../../image/wikiedit/justify.svg");
	background-repeat: no-repeat;
}
.toolbar li.we-right img {
	background-image:url("../../../image/wikiedit/right.svg");
	background-repeat: no-repeat;
}
.toolbar li.we-outdent img {
	background-image:url("../../../image/wikiedit/outdent.svg");
	background-repeat: no-repeat;
}
.toolbar li.we-indent img {
	background-image:url("../../../image/wikiedit/indent.svg");
	background-repeat: no-repeat;
}
.toolbar li.we-hr img {
	background-image:url("../../../image/wikiedit/hr.svg");
	background-repeat: no-repeat;
}
.toolbar li.we-signature img {
	background-image:url("../../../image/wikiedit/signature.svg");
	background-repeat: no-repeat;
}
.toolbar li.we-quote img {
	background-image:url("../../../image/wikiedit/quote.svg");
	background-repeat: no-repeat;
}
.toolbar li.we-source img {
	background-image:url("../../../image/wikiedit/source.svg");
	background-repeat: no-repeat;
}
.toolbar li.we-code img {
	background-image:url("../../../image/wikiedit/code.svg");
	background-repeat: no-repeat;
}
.toolbar li.we-createlink img {
	background-image:url("../../../image/wikiedit/link.svg");
	background-repeat: no-repeat;
}
.toolbar li.we-createtable img {
	background-image:url("../../../image/wikiedit/table.svg");
	background-repeat: no-repeat;
}
.toolbar li.we-textred img {
	background-image:url("../../../image/wikiedit/textcolor.svg");
	background-repeat: no-repeat;
}
.toolbar li.we-highlightcolor img {
	background-image:url("../../../image/wikiedit/highlightcolor.svg");
	background-repeat: no-repeat;
}
.toolbar li.we-help img {
	background-image:url("../../../image/wikiedit/help.svg");
	background-repeat: no-repeat;
}

.edname-w, .edname-r, .edname-s {
	font: bold 14px Arial;
	border: 3px solid #D4D0C8;
	padding: 0 7px;
	color: #ffffff;
	vertical-align: middle;
}

.edname-w {
	background: #1E9905;
}

.edname-r {
	background: #2A45D0;
}

.edname-s {
	background: #D08C2A;
}

.autocomplete-inplace {
	background: ButtonFace;
	border: 1px solid ButtonShadow;
	padding: 2px;
	font: 12px Arial;
}

.autocomplete-inplace div {
	padding: 2px 5px;
	cursor: pointer;
}

.autocomplete-inplace div.ac-over- {
	color: #ffffff;
	background: #1E9905;
}

/* ------------------------------- */
.warning {
	color: red;
	font-weight: bold;
	/*background-color: #fbe6f2;*/
	background-color: #fcfcfc;
	background-image: url(./../icon/warning.svg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 10px 10px;
	margin: 10px;
	padding: 10px 10px 10px 40px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: dotted;
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: none;
	border-top-color: #d893a1;
	border-right-color: #d893a1;
	border-bottom-color: #d893a1;
	border-left-color: #d893a1;
}

/* CSS form formater */
.cssform p {
	width: 320px;
	clear: left;
	margin: 0;
	padding: 5px 0 8px 0;
	padding-left: 155px;
	/*width of left column containing the label elements*/
	height: 1%;
}

.cssform label {
	float: left;
	margin-left: -155px; /*width of left column*/
	width: 150px;
	/*width of labels. Should be smaller than left column (155px) to create some right margin*/
}

.cssform input[type="text"] {
	width: 180px;
}

.cssform textarea {
	width: 570px;
	height: 50px;
}

.cssform span.site_count {
	font-weight: normal;
	float: left;
	margin-left: -155px; /*width of left column*/
	width: 150px;
	/*width of labels. Should be smaller than left column (155px) to create some right margin*/
}

.BewareChangeLang {
	border: 1px solid #ffee66;
	width: 400px;
	background-color: #ffffdd;
	background-image: url(./../icon/warning.svg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 10px 10px;
	margin: 10px;
	padding: 5px 5px 5px 40px;
	position: relative;
}

/* cssform1 for actions */
#cssform1 {
	padding: 10px;
	margin: 0 auto;
}

#cssform1 p {
	clear: left;
	margin: 0;
	padding: 5px 0 8px 0;
	/*padding-left: 20%; width of left column containing the label elements*/
	height: 1%;
}

#cssform1 label {
	float: left;
	margin-left: 0px; /*
	margin-left: -155px; width of left column*/
	width: 350px;
	/* width of labels. Should be smaller than left column (155px) to create some right margin*/
	text-align: left;
	margin-right: 10px;
}

#cssform1 input[type="text"] {
	width: 180px;
}

#cssform1 textarea {
	width: 250px;
	height: 150px;
}

#cssform1 span.site_count {
	font-weight: normal;
	float: left;
	margin-left: 0px; /*
	margin-left: -155px; width of left column*/
	width: 150px;
	/*width of labels. Should be smaller than left column (155px) to create some right margin*/
}

.form_tbl {
	width: 100%;
}

.form_tbl td, .form_tbl th {
	padding: 3px;
	margin: 0px;
}

.form_right {
	text-align: left;
	vertical-align: top;
	width: 70%;
}

.form_right label {
	color: #666666;
}

.form_left {
	color: #444444;
	font-weight: bold;
	text-align: right;
	vertical-align: top;
	width: 30%;
}
td.form_left, th.form_left {
	padding-right: 20px;
}

/*Actions --------------------------------------------------*/
.smaller {
	font-size: 0.8em;
}

/* feed action */
.feed {
	overflow: auto;
}

.feed .note {
	font-size: 11px;
	color: #777;
}

.feed .note a {
	color: #777;
}

.feed .note span {
	border-bottom: 1px dotted;
}

.feed_element_title {
	/* We're going to add some space next to the titles so we can fit the 16x16 favicon image. */
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 1px;
	padding-left: 20px;
}

.feed h4 {
	font-size: 13px;
	border-bottom: none;
}

/*Handlers --------------------------------------------------*/


#usermenu {
	margin: 0 auto 0;
	/* overflow: hidden; */
	float: left;
	text-align: left;
	position: relative;
}


#usermenu ol,
#usermenu ol ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#usermenu li:first-child {
	/* border-left: none; */
	/* padding-left: 0px; */
}
#usermenu li {
	border-left: 1px dotted #aaa;
	float: left;
	line-height: 1.2em;
	margin: 0 .5em 0 -.5em;
	padding: 0 .5em 0 .5em;
	white-space: nowrap;
}

#usermenu ol ul li {
	border-left: 0px;
}

#usermenu li.active {
	font-weight: 600;
	background-color: #439ce8;
	background-image: linear-gradient(to bottom, #43ace8, #4383e8);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

#usermenu li a {
	display: inline;
	border: none;
	text-decoration: none;
}

#usermenu li a:visited {
	color: #003399;
}

#usermenu li a:hover {
	color: #B90022;
	text-decoration: underline;
}

#usermenu li a:active {
	color: #FF0000;
}

#search_box {
	margin: 0 auto 0;
	overflow: hidden;
	float: right;
	text-align: left;
	position: relative;
}

#search_box label {
	display: none;
}

#header-top {
	margin: 0 auto 0;
	overflow: hidden;
	float: left;
	text-align: left;
	position: relative;
	font-size: 1.3em;
}

#login_box {
	font-size: 12px;
	margin: 0 auto 0;
	overflow: hidden;
	float: right;
	text-align: left;
	position: relative;
}

#login_box form {
	display: inline;
}

#login_box ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#login_box li {
	border-left: 1px solid #aaa;
	float: left;
	line-height: 1.2em;
	margin: 0 .5em 0 -.5em;
	padding: 0 .5em 0 .5em;
	white-space: nowrap;
}

#login_box li a {
	display: inline;
	border: none;
	text-decoration: none;
}

#login_box li a:visited {
	color: #003399;
}

#login_box li a:hover {
	color: #B90022;
	text-decoration: underline;
}

#login_box li a:active {
	color: #FF0000;
}

/* temp */
.topnav {
	float: right;
	font-size: 0.6875em;
	margin-top: 0.9375em;
}

.topnav ul,.topnav li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.topnav ul {
	display: block;
}

.topnav li {
	display: inline;
	margin-right: 1.1em;
}

/*search*/
.highlight {
	background-color: #FFFEA1;
	font-style: normal;
	font-weight: bold;
}

#search_results li {
	margin: 1em 0;
}

#search_results li div { /*padding-left: 20px;*/
	
}

#search_results h3 {
	font-size: 14px;
	border-bottom-width: 0px;
	border-bottom-style: none;
}

/* lists */
.ul_list, .revisions {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.ul_list ul {
	list-style-type: none;
	padding-left: 20px;
}

.ul_letters {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.ul_letters ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.ul_letters li {
	border-left: 1px dotted #AAAAAA;
	float: left;
	line-height: 1.2em;
	margin: 0 0.5em 0 -0.5em;
	padding: 0 0.5em;
	white-space: nowrap;
}

.ul_letters li.active   {
	background: #CCFFCC;

}

.revisions li:hover {background: #CCFFCC}
/* #FCFCFC #FFCC99 #CCFFCC */

/* settings */
.lined td, .lined th {
	border-bottom: 1px dotted #BABFC7;
}

.tree {
	text-align: left;
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.lined:hover {
	background: #CCFFCC;
}

.lined-strike td, .lined-strike th {
	border-bottom: 1px dotted #BABFC7;
	/* text-decoration: line-through; */
}

.lined-strike:hover {
	background: #FFCCCC;
}

.page_settings {
	float: left;
	width: 60%;
}
.page_tools {
	float: right;
	padding: 0px 10px 10px 10px;
	
}

.menu
{
	list-style:none outside none;
	float:right;
	margin:0;
	padding:0;
}
.menu li {
	border-left:1px dotted #CCCCCC;
	float:left;
	line-height:1.2em;
	margin:0 0.5em 0 -0.5em;
	padding:0 0.5em;
	white-space:nowrap;
}

.menu li.active {
	/* background: none repeat scroll 0 0 #CCFFCC; */
	font-weight: bold;
}

/* news / blog extension ******************************************* */
.news {
	float: left;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
	/*width: 570px;*/
}

div.newsarticle:hover {
	background: #E7F9FF;
}

.newstitle {
	font-size: 13px;
	border: none;
	border-color: red;
	border-style: solid;
	border-width: 0 0 0 4px;
	margin-top: 10px;
	padding-left: 9px;
/*	background-color: #DDEEFF;
	border-color: #CCCCAA -moz-use-text-color;
	border-style: dashed none;
	border-width: 1px 0;
	padding: 3px 0 3px 10px;*/
}

.newsinfo {
	color: #666666;
	margin: 4px 0 6px;
}

.newsinfo span {
	border-bottom: 1px dotted;
}

.newsmeta {
	border-bottom: 1px dotted #666666;
	height: 25px;
	margin-top: 20px;
}

.pagination {
	float: right;
}

.commentspagination{
	overflow: hidden;
	padding: 0 20px;
	width: 100%;
	background-color: #FFF;
}


table.formation {
	background-color: #EDEDED;
	border: 1px solid #CDCDCD;
	border-collapse: collapse;
	border-spacing: 3px;
	border-collapse: separate;
}
table.formation th, tr.formation th {
	background-color: #DDDDDD;
	letter-spacing: normal;
	border: 1px solid #CDCDCD;
}

table.formation td {
	padding: 3px;
}

/* infoboxes -----------------------------------------*/
.nb td, .fyi td, .inf td {
	padding: 5px;
	height: 50px;
}
.nb .text, .fyi .text, .inf .text {
	padding-left: 20px;
	border-top: none;
	border-bottom: none;
}
.nb .sign, .fyi .sign, .inf .sign {
	font-weight: 700;
	font-size: 50px;
	text-align: center;
	width: 20px;
	border: none;
	border-right: 1px solid;
}
.nb .sign {
	color: #CC0000;
	font-family: Arial, Helvetica, sans-serif;
}
.nb .sign, .nb .text {
	border-color: #CC0000;
}
.fyi .sign {
	color: #00AACC;
	font-family: "Times New Roman", Times, serif;
}
.fyi .sign, .fyi .text {
	border-color: #00AACC;
}
.inf .sign {
	color: #BABFC7;
	font-family: "Times New Roman", Times, serif;
}
.inf .text {
	color: #6A7387;
}
.inf .sign, .inf .text {
	border-color: #BABFC7;
}

#handler {
	/* clear:both; */
	float:right;
	margin:0 auto;
	text-align:left;
	z-index:1000;
	position:relative;
}
#handler ul {
	list-style:none outside none;
	float:right;
	position:relative;
	margin:0;
	padding:0;
}

#usermenu ol li,
#handler ul li {
	display:block;
	float:left;
	position:relative;
	margin:0;
	padding:1px 0.5em 4px;
	white-space:nowrap;
}

#usermenu ol li a,
#handler ul li a {
	display:block;
}

#handler li.search{
	padding-bottom: 0px;
}

#handler li:hover {
	/* background-color: #FFFFFF; */
}

#handler li.active {
	border-color: #AAAAAA;
	border-style:solid;
	border-width:1px 1px 0;
	background-color: #FCFCFC;
}

#handler ul ul li.active {
	border-top-color: #AAAAAA;
	border-left-color: #AAAAAA;
	border-style:solid;
	border-width:1px 1px 0;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	background-color: #FCFCFC;
}

/* submenu items */
#usermenu ol ul, 
#handler ul ul {
	display:none; /* Sub menus are hidden by default */
	position:absolute;
	/* top:0em; */
	background: none repeat scroll 0 0 white;
	padding-top: 4px !important;
	left: -1px;
	right:auto;
	width:auto;
	border-color: #CCCCCC;
	border-style:solid;
	border-width:0 1px 1px;

}
#usermenu ol ul a,
#handler ul ul a {
	background: none repeat scroll 0 0 transparent;
}

.dropdown_arrow {
	font-size: 85%;
	text-decoration: none;
}

#usermenu ol ul li,
#handler ul ul li {
	left:auto;  /*resets the left: on the parent li */
	margin:0; /* Reset the 1px margin from the top menu */
	clear:left;
	width:100%;
	margin: 0;
	padding: 0;
	/* background: none repeat scroll 0 0 white; */
	white-space: nowrap;
	vertical-align: baseline;

}
#usermenu ol ul li a,
#usermenu ol li.active li a,
#usermenu ol li:hover ul li a,
#usermenu ol ul li.active span,
#handler ul ul li a,
#handler ul li.active li a,
#handler ul li:hover ul li a,
#handler ul ul li span {
	background: none repeat scroll 0 0 transparent;
	display: block;
	float: left;
	font-weight: normal;
	line-height: 1.4em;
	width: 100%;
	margin: 0;
	padding: 0.25em 0.5em 0.2em;
}

#handler ul ul li.active {
	margin-left: -1px;
}

/* make the sub menus appear on hover */
#usermenu ol li:hover ul,
#handler ul li:hover ul {
	display: block; /* Show the sub menus */
	z-index: 20;
}
	
#handler #more-icon {
}

.page_handler{
	list-style: none;
}

.page_handler img,
.page_handler a img,
#handler img,
#handler a img,
#handler span img {
	border:medium none;
	height:16px;
	width:16px;
}

.page_handler img {
	padding: 2px 5px 2px 0;
}

li.m-new img {
	background-image:url("./../icon/add_page.svg");
	background-repeat: no-repeat;
}
li.m-categories img {
	background-image:url("./../icon/tag.svg");
	background-repeat: no-repeat;
}
li.m-upload img {
	background-image:url("./../icon/attachment.svg");
	background-repeat: no-repeat;
}
li.m-clone img {
	background-image:url("./../icon/copy.svg");
	background-repeat: no-repeat;
}
li.m-edit img {
	background-image:url("./../icon/edit.svg");
	background-repeat: no-repeat;
	/* background-size:10px 10px; */
}
li.m-referrers img {
	background-image:url("./../icon/link.svg");
	background-repeat: no-repeat;
}
li.m-revisions img {
	background-image:url("./../icon/revisions.svg");
	background-repeat: no-repeat;
}
li.m-remove img {
	background-image: url("./../icon/delete_page.svg");
	background-repeat: no-repeat;
}
li.m-purge img {
	background-image: url("./../icon/delete.svg");
	background-repeat: no-repeat;
}
li.m-rename img {
	background-image: url("./../icon/edit.svg");
	background-repeat: no-repeat;
}
li.m-moderate img {
	background-image: url("./../icon/moderate.svg");
	background-repeat: no-repeat;
}
li.m-properties img {
	background-image:url("./../icon/properties.svg");
	background-repeat: no-repeat;
}
li.m-permissions img {
	background-image:url("./../icon/permission.svg");
	background-repeat: no-repeat;
}
li.m-show img {
	background-image:url("./../icon/show.svg");
	background-repeat: no-repeat;
}
li.m-moderate img {
	background-image:url("./../icon/comment.svg");
	background-repeat: no-repeat;
}
li.m-print img {
	background-image:url("./../icon/print.svg");
	background-repeat: no-repeat;
}
li.m-xml img {
	background-image:url("./../icon/xml.svg");
	background-repeat: no-repeat;
}
li.m-word img {
	background-image:url("./../icon/document.svg");
	background-repeat: no-repeat;
}

.desc_rss_feed {
	float:right;
	margin-right:20px;
}

.review1 img,
.review2 img,
.watch-off img,
.watch-on img {
	border:medium none;
	height:16px;
	width:16px;
}
.watch-off img {
	background-image: url("./../icon/watch-off.svg");
	background-repeat: no-repeat;
}
.watch-on img {
	background-image: url("./../icon/watch-on.svg");
	background-repeat: no-repeat;
}

.review1 img {
	background-image: url("./../icon/review1.svg");
	background-repeat: no-repeat;
}
.review2 img {
	background-image: url("./../icon/review2.svg");
	background-repeat: no-repeat;
}

.btn-reload {
	background-image: url('./../icon/reload.svg'), none;
	background-repeat: no-repeat;
	background-size: 22px 22px;
	height: 22px;
	width: 22px;
	display: inline-block;
}
.btn-menu {
	background-image: url('./../icon/menu.svg'), none;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.btn-addbookmark {
	background-image: url('./../icon/bookmark.svg'), none;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.btn-removebookmark {
	background-image: url('./../icon/remove.svg'), none;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.btn-delete {
	background-image: url('./../icon/delete.svg'), none;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.btn-edit {
	background-image: url('./../icon/edit.svg'), none;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.btn-feed {
	background-image: url('./../icon/feed.svg'), none;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.btn-tick {
	background-image: url('./../icon/tick.svg'), none;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.btn-warning {
	background-image: url('./../icon/warning.svg'), none;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.btn-add_page {
	background-image: url('./../icon/add_page.svg'), none;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.btn-comment {
	background-image: url('./../icon/comment.svg'), none;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.btn-attachment {
	background-image: url('./../icon/attachment.svg'), none;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.btn-unlocked {
	background-image: url('./../icon/unlocked.svg'), none;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.btn-locked {
	background-image: url('./../icon/locked.svg'), none;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	display: inline-block;
}

.viewed {
	font-weight:600;
}

.setcategory{
	border:1px solid #9495A2;
/* 	font-size:11px; */
	height:250px;
	margin-bottom:27px;
	overflow:auto;
	width:auto;
}

.list_count{
	text-align:right; 
	width:30px; 
	float: left; 
	padding-right: 10px
}

.userprofil {
	color: #444444;
	font-weight: bold;
	width:100px;
	white-space:nowrap;
	vertical-align: top;
	padding-right:20px;
}

ul.upload,
ul.upload ul {
	list-style-type: none;
	padding: 0;
}

.upload li {
	display: block;
	overflow: hidden;
	padding-bottom: 5px;
	text-align: left;
}

.info_title{
	display: block;
	float: left;
	text-align: left;
	width: 130px;
}

/* forum extension ******************************************* */

table.forum {
	border: 0 none;
	margin: 0;
	padding: 0;
	width: 100%;
	border-spacing: 3px;
	border-collapse: separate;
}

table.forum th {
	font-size: 12px;
	text-align: center;
	white-space: nowrap;
	padding: 5px;
}

table.forum td {
	padding: 5px;
}

/* categories tag ------------- */
.tag {
	background: #f0f4f5;
	display: inline-block;
	font-size: 12px;
	line-height: 1;
	margin: 2px 2px 2px 0;
	padding: 0.4em 0.5em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}

/* system message ------------- */
.sysmessage {
	background: rgba(51, 51, 51, 0.9) none repeat scroll 0 0;
	bottom: 0;
	color: #ccc;
	left: 0;
	padding-right: 10px;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 5000;
	padding: 20px 0 20px 20px;
}

@keyframes marquee {
	0%   { text-indent: 800px }
	100% { text-indent: -800px }
}
.marquee{
	animation: marquee 50s linear infinite;
	font-weight: 800;
	white-space: nowrap;
	box-sizing: border-box;
	margin: 0 auto;
	overflow: hidden;
}

.marquee:hover {
	animation-play-state: paused;
}

/* noscript ------------- */
.errorbox_js {
	border: 1px solid red;
	font-family: "Courier New",Courier,monospace;
	margin: 0.5em 0;
	padding: 1em 0.5em;
	text-align: center;
}


/* category handles ------------- */
.hide_radio input[type="radio"] {
	visibility:hidden;
	/* display: none; */
}

.hide_radio span:hover input[type="radio"], 
.hide_radio span input[type="radio"]:checked
{
	visibility: visible;
	/* display: inline; */
}

/* authors action ------------- */
.license-CC-BY {
	background-image:	url('../../../image/cc-by.svg');
	background-repeat:	no-repeat;
	background-position:	0;
	height:	22px;
	width:	22px;
}
.license-PD {
	background-image:	url('../../../image/cc-pd.svg');
	background-repeat:	no-repeat;
	background-position:	0;
	height:	22px;
	width:	22px;
}
.license-CC-BY-SA {
	background-image:	url('../../../image/cc-by.svg'),
						url('../../../image/cc-sa.svg');
	background-repeat:	no-repeat,
						no-repeat;
	background-position:	0,
							22px;
	height:	22px;
	width:	44px;
}
.license-CC-BY-ND {
	background-image:	url('../../../image/cc-by.svg'),
						url('../../../image/cc-nd.svg');
	background-repeat:	no-repeat,
						no-repeat;
	background-position:	0,
							22px;
	height:	22px;
	width:	44px;
}
.license-CC-BY-NC {
	background-image:	url('../../../image/cc-by.svg'),
						url('../../../image/cc-nc.svg');
	background-repeat:	no-repeat,
						no-repeat;
	background-position:	0,
							22px;
	height:	22px;
	width:	44px;
}
.license-CC-BY-NC-SA {
	background-image:	url('../../../image/cc-by.svg'),
						url('../../../image/cc-nc.svg'),
						url('../../../image/cc-sa.svg');
	background-repeat:	no-repeat,
						no-repeat,
						no-repeat;
	background-position:	0,
							22px,
							44px;
	height:	22px;
	width:	66px;
}
.license-CC-BY-NC-ND {
	background-image:	url('../../../image/cc-by.svg'),
						url('../../../image/cc-nc.svg'),
						url('../../../image/cc-nd.svg');
	background-repeat:	no-repeat,
						no-repeat,
						no-repeat;
	background-position:	0,
							22px,
							44px;
	height:	22px;
	width:	66px;
}
