
/**
 * File content:
 * Includes all styles that forces the look of the page for print out
 */
 
#print {
	background-color:	#FFF;
	color:				#000;
	font-family:		Arial,Helvetica,sans-serif;
	letter-spacing:		1px;
	padding-bottom:		20px;
	padding-top:		10px;
}

/* Specifies the wikiname on top */
header {
	font-family:		"Lucida Console","Courier New",monospace;
	letter-spacing:		1px;
	font-size:			0.75em;
	margin-bottom:		30px;
}

header .container {
	border-bottom:		1px dotted #000;
	margin-bottom:		20px;
	padding-bottom:		5px;
}

header h1 {
	font-size:			1.25em;
	margin-top:			0;
	padding-bottom:		0;
	margin-bottom:		0;
	font-family:		Arial,Helvetica,FreeSans,sans-serif;
	color:				#666;
	font-weight:		bold;
}

footer {
	border-top:			1px dotted #000;
	font-size:			0.75em;
	line-height:		11px;
	margin-top:			20px;
	padding-top:		5px;
	text-align:			center;
}

 /** Basic settings **********************************************************/

/* Specifies basic rules */
body {
	background-color:	#fff;
	color:				#000;
	font-family:		Verdana, "Bitstream Vera Sans", sans, sans-serif;
	font-size:			small;
	margin:				0 auto;
	padding:			10px;
}

/* Specifies the look of hyperlinks */
a {
	color:				#000;
	text-decoration:	none;
}

a img {
	/* display: none; */
}

/* Hide all buttons */
input {
	display:			none;
}

/* Display no images in print out */
img {
	/*display:			none;*/
	max-width:			100%;
	height:				auto;
}
/* Invert and adjust the colours of the image */
.graph {
	filter: invert(100%) hue-rotate(180deg) brightness(120%) contrast(150%);
}

/** Styles for the main content in the page. *********************************/

/* Debugging information (not shown) */
#debug,
.debug {
	display:			none;
}

/* Horizontal rule: SYNTAX ---- */
hr {
	border: 0 none #CCCCCC;
	border-top: 1px solid;
}

/** Often used-related (belongs to too many codes) ***************************/

/* No line break */
.nobr {
	white-space:		nowrap;
}

/* Monospaced code */
pre {
	font-family:		"Bitstream Vera Sans Mono", "Courier New", monospace;
}



/** Simple formating-related *************************************************/

/* Quotes: SYNTAX <[text]> */
blockquote {
	border: 1px solid #000;
	border-left-width: 3px;
	color:				#000;
	font-family:		"Bitstream Vera Serif", "Times New Roman", sans-serif;
	padding:			3px;
}

/* Centered text: SYNTAX %%(wacko wrapper=text wrapper_align=center)text%% */
.center {
	text-align:			center;
}

/* Important text: SYNTAX !!text!! */
.cite {
	font-weight:		900;
}

/* underline text: SYNTAX __text__ */
.underline {
	text-decoration:	underline;
}

/* Definitions: SYNTAX (?icq i seek you?) */
dfn {
	font-style:			normal;
}

/* Indent text: SYNTAX "  ", "  1.", etc. */
.indent {
	margin-left:		40px;
}

/* Highlighted text: SYNTAX ??text?? */
mark {
	font-style:			italic;
}

/* Strike through text: SYNTAX --text-- */
del {
	color:				#000;
}

/* Small text: SYNTAX ++text++ */
small {
	font-size:			0.85em;
}

sub {
	font-size:			0.85em;
	margin:				0 2px;
}

/* Footprints: SYNTAX [[#*]] */
sup {
	font-size:			0.85em;
	margin:				0 2px;
}
sup a,
sup a:hover {
	border:				0;
}

/* Fixed width text: SYNTAX ##monospace## */
code {
	font-family:		"Bitstream Vera Sans Mono", "Courier New", monospace;
	font-size:			0.9em;
	padding:			2px 5px;
}


/** Advanced formatting and action-related ************************************/

/* Hyperlinks: SYNTAX ((HomePage)) */

/* Code areas: SYNTAX %%code%% */
code {
	font-family:		"Bitstream Vera Sans Mono", "Courier New", monospace;
	font-size:			0.9em;
}
.code, .hl-main pre {
	border:				dashed 1px #000;
	font-family:		"Bitstream Vera Sans Mono", "Courier New", monospace;
	font-size:			0.9em;
	padding:			5px;
}

/* Inside the table of content: SYNTAX {{toc}} */
#toc {
	margin:				0;
	padding:			0;
	text-align:			left;
}
#toc li {
	list-style:			none;
}
#toc li ul {
	padding-left:		15px;
}
span.tocnumber {
	margin-right:		0.3em;
}

/* Horizontal rulers: SYNTAX --- */
hr {
	background-color:	#000;
	border:				#000;
	color:				#000;
	height:				1px;
}

/* Included pages: SYNTAX {{include page="xyz"}} */
.include {
	color:				#000;
}
.include .name {
	font-size:			0.85em;
	padding:			0 10px;
}
.include .name a {
	border:				0;
}
.include .name a:hover {
	border:				0;
}



/** Header related ***********************************************************/

/* SYNTAX ==, ===, ====, =====, ======, ======= */

h1, h2, h3, h4, h5, h6 {
	font-family:		Verdana, "Luxi Sans", "Trebuchet MS", sans, sans-serif;
	font-weight:		900;
	padding:			0;
}
h1 {
	font-size:			1.6em;
	margin-bottom:		0.4em;
	margin-top:			0.3em;
	padding-bottom:		0.2em;
}
h2 {
	font-size:			1.45em;
	margin-bottom:		0.4em;
	margin-top:			1.1em;
	padding:			2px 0;
}
h3 {
	font-size:			1.3em;
	margin-bottom:		0.4em;
	margin-top:			0.8em;
}
h4 {
	font-size:			1.2em;
	margin-bottom:		0.3em;
}
h5 {
	font-size:			1.1em;
}
h6 {
	font-size:			1.0em;
}



/** Table-related ************************************************************/

/* 100%-width tables: SYNTAX #| || Here | there || |# */
.dtable {
	border-collapse:	collapse;
	width:				100%;
}
.dtable td {
	padding:			5px;
}

/* Bordered tables: SYNTAX #|| || Here | there || ||# */
.usertable {
	border-collapse:	collapse;
}
.usertable th,
.usertable td {
	border:				solid 1px #000;
	padding:			5px;
}
.usercell {	
	vertical-align:		top;
}


/** List-related *************************************************************/

/* SYNTAX "  *", "  1.", etc. */
/* List possibilities */
ol, ul {
	margin-bottom:		0;
	margin-top:			0;
	padding-bottom:		0;
	padding-top:		0;
}



/** Wrapper-related **********************************************************/

/* SYNTAX %%(wrapper xyz)%% */

.wrapper-center {
	margin: 0 auto !important;
}
.wrapper-left {
	float: left;
}
.wrapper-right {
	float: right;
}

.wrapper-col2 {
	column-count: 2;
}
.wrapper-col3 {
	column-count: 3;
}
.wrapper-col4 {
	column-count: 4;
}
.wrapper-col5 {
	column-count: 5;
}

div .wrapper {
	border:				1px dotted #000;
	margin:				5px;
	/*border-radius:	5px; */
}
div .wrapper-content {
	padding:			7px;
}



/** Text highlighter-related *************************************************/

/* SYNTAX %%(hl xyz)%% */

.hl-main {
}
.hl-gutter {
	padding-right:		10px; 
}
.hl-table {
	border:				dashed 1px #000;
}



/** Email-related ************************************************************/

/* Quoted message on new email */
.email1, .email2 {
	padding-left:		5px;
}
/* ????? Currently unknown ????? */
.email-odd, .email-even {
}

/* Revisions-related *********************************************************/

/* Displays text: "This is an old revision of..." */
.revision-info {
	border:				dashed 1px #000;
	margin:				25px 0;
	padding:			3px;
	width:				auto;
}

/* Simple differences */
.additions,
.deletions {
	border:				dashed 1px #000;
	padding:			5px;
}

/* comments header */
.header-comments, .header-files, .linksheader {
	border-bottom:		1px solid #BABFC7;
	letter-spacing:		2px;
	margin-bottom:		10px;
	padding-left:		10px;
	padding-right:		10px;
	white-space:		nowrap;
}

.comment-meta {
	border-bottom:		1px solid #BABFC7;
	font-size:			0.75em;
	letter-spacing:		1px;
	line-height:		14px;
	margin-right:		100px;
	padding-bottom:		3px;
	padding-left:		10px;
}

.comment {
	font-size:			1em;
	margin-bottom:		20px;
	padding-left:		10px;
	padding-right:		10px;
}

.refnum {
	font-weight:		bold;
	font-size:			x-small;
}

.reflink {
	font-size:			small;
	list-style:			none;
	padding: 			0;
}

.reflink li span {
	font-weight:		bold;
	font-size:			x-small;
}

/* Hiding Unfriendly Content *************************************************/
.no-print, 
.no-print * {
	display:			none !important;
}

.footer,
.breadcrumb,
.menu-main,
.pagination {
	display:			none !important;
}


/* Page Breaks ***************************************************************/

h1,h2,h3,h4,h5,h6 {page-break-after: avoid;}
ul, ol, li, blockquote {page-break-inside: avoid;}
table table,tr,td {page-break-before: avoid; page-break-after: avoid;}

#footnotes {
	page-break-before: always;
}
