# WackoWiki

/src/_cache/*
!/src/_cache/.htaccess
/src/_cache/config/*
!/src/_cache/config/.htaccess
/src/_cache/feed/*
!/src/_cache/feed/.htaccess
/src/_cache/page/*
!/src/_cache/page/.htaccess
/src/_cache/query/*
!/src/_cache/query/.htaccess
/src/_cache/session/*
!/src/_cache/session/.htaccess
/src/_cache/template/*
!/src/_cache/template/.htaccess

/src/file/backup/*
!/src/file/backup/.htaccess
/src/file/global/*
!/src/file/global/wacko_logo.png
/src/file/perpage/*
!/src/file/perpage/.htaccess
/src/file/thumb/*
!/src/file/thumb/.htaccess

/src/xml/*
!/src/xml/.htaccess

# Eclipse IDE
.buildpath
.project
.settings/

# PHPStorm IDE
.idea
*.iml
