/* Patches for Opera Browser
   Opera with calculation lengths including rounding their values, so we
   use directly Px here.
   */
   
div.nav-main div.search fieldset { padding-top:4px; padding-bottom:4px; }
div.nav-main div.search fieldset input { padding:2px 0; }
div.nav-main ul li a { padding:4px 0.6em; }

/* don't eat this on Safaris */ 
html* div.nav-main div.search fieldset { padding-top:0.3em; padding-bottom:0.3em; }
html* div.nav-main div.search fieldset input { padding:0.1em 0; }
html* div.nav-main ul li a { padding:0.3em 0.6em; }

/* Backend hack for Safari */
#backend* div.bookmarks ol.dropdown {
	overflow:visible;
}


