@import "wacko.css";

/* basic -------------------------------------------------- */
P, TD, LI, SELECT, TEXTAREA {
  font-family: Verdana;
  font-size: 13px;
  line-height: 1.3em;
}

label {cursor:pointer; cursor:hand;}


BODY {
  font-family: Verdana;
  font-size: 13px;
  line-height: 1.3;
  color: #000000;
  background-color: #F8F8F8;
}

img {
	border-width: 0px;
	vertical-align: middle;
	}

A:LINK {
  color: #6E0000;
}
A:VISITED {
  color: #990000;
}
.footer A:LINK {
  color: #EEEEEE;
}
.footer A:VISITED {
  color: #EEEEEE;
}
#filesheader A:LINK {
  color: #EEEEEE;
}
#filesheader A:VISITED {
  color: #EEEEEE;
}
.commentsheader A:LINK {
  color: #EEEEEE;
}
.commentsheader A:VISITED {
  color: #EEEEEE;
}
.files A:LINK {
  color: #EEEEEE;
}
.files A:VISITED {
  color: #EEEEEE;
}
.comment A:LINK {
  color: #EEEEEE;
}
.comment A:VISITED {
  color: #EEEEEE;
}
.menu-top A:LINK {
  color: #EEEEEE;
}
.menu-top A:VISITED {
  color: #EEEEEE;
}
.error {
	color: #CC3333;
	font-weight: bold;
}
.info {
	background: #F4FBFF;
	margin: 10px;
	padding: 10px 10px 10px 40px;
	border:1px solid #D5D9E6;
	color: #CC3333; font-weight: bold;
}
.time{ font-family: Tahoma, Arial, Verdana; color: #cccccc; font-size: 9px;}


.main {
  font-size: 22px;
}
.print {
  font-family: Verdana;
  font-size: 12px;
}

.debug {
	font-size: 11px;
	color: #888888;
}

.header {
	padding: 10px;
	color: #FFFFFF;
}

.header A {
	color: #CCCCCC;
}

#page {
	background-color: #FFFFFF;
	padding: 9px 10px 10px;
}
#pageedit {
	background-color: #FFFFFF;
}

#pageedit form textarea {
	width: 100%;
	height: 400px;
}

.footer {
	color: #EEEEEE;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.footer A {
	color: #EEEEEE;
}

#filesheader, #commentsheader {
	padding: 2px 10px;
	color: #EEEEEE;
}
#commentsheader A {
	color: #EEEEEE;
}
#filesheader A {
	color: #EEEEEE;
}

.files, .comment {
	background-color: #990000;
	padding: 10px;
	border-top: 1px solid #6E0000;
	border-bottom: 1px solid #6E0000;
	color: #EEEEEE;
}

.comment:target {
	border:2px solid #FF6600;
	padding:0.5em 0.5em 0.5em 25px;
}

.commentinfo {
  color: #AAAAAA;
}
/* Change summary */
.editnote {
  color: #555555;
}
.review {
	font-weight:bold;
}
.filesform, .commentform {
	background-color: #990000;
	padding: 10px;
	border-left: 1px inset #6E0000;
	border-right: 1px inset #6E0000;
	border-top: 1px solid #6E0000;
	border-bottom-color: #6E0000;
	color: #EEEEEE;
}
.commentform form {width:100%;}
.commentform form textarea {width:100%; padding:0;}


#credits {
	font-size: 11px;
	color: #EEEEEE;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

#credits A {
  color: #EEEEEE;
}

.name {
  text-align: right;
  font-size: 11px;
}

.include {
  background-color: #F5F5F5;
  padding: 8px;
}

.outerlink { color: #990000;}

FIELDSET {
 padding: 10px;
}

.missingpage
{
  border-bottom: 1px dashed orange;
}
.searchbar
{
  font-family: Verdana;
  font-size: 13px;
  line-height: 1.3em;
}
.logBtn {   height: 21px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
 }     

#tooltip{
background:#FFFFFF;
border:1px solid #666666;
color:#333333;
font:menu;
margin:0px;
padding:3px 5px;
position:absolute;
visibility:hidden
}

.upload td { padding: 2px 5px 2px 5px; vertical-align:bottom }
.upload td.dt-,   
.upload td.file- { white-space:nowrap; font-size: 80%; font-weight:bold; color:#000000 }
.upload td.dt-   { padding-right:0 }
.upload td.remove-   { padding-right:0 }
.upload td.size- { padding-right:0; text-align:right }
.upload td.desc- { font-size: 80%; color:#444444; width:100% }
.upload td.dt- .dt2-,
.upload td.remove- .remove2-,
.upload td.size- .size2- { font: 11px Tahoma; color:#666666;  }
.upload td.remove- A.remove2-:HOVER,
.upload td.remove- A.remove2-:ACTIVE { color:#ff0000 }

.preview {margin-top: .8em; margin-left: 2px; margin-bottom: 2px; margin-right: 2px; padding: 10px; border:red 2px solid;}
.preview p {color:red; font-weight:bold; margin: -1.5em 0px 10px 0px; padding: 0; border: 0;}
.preview p span {background:#FFF; padding:0 1px;}

.layout-box {margin-top: .8em; margin-left: 2px; margin-bottom: 2px; margin-right: 2px; padding: 10px; border:#CCCCCC 1px solid;}
p.layout-box {background: transparent; margin: -1.5em 0px 10px 0px; padding: 0; border: 0;}
p.layout-box span {background:#FFF; padding:0 1px;}

.buttonsspacer{width:10px;height:1px;}

/* WikiEdit Toolbar -------------------------------------- */

#buttons_1 {
	clear:none;
	float:left;
	padding:0 0 0 0;
}

#buttons_1 li {
	float:left;
	padding-right:0.3em;
	white-space:nowrap;
	list-style:none outside none;
}

.toolbar li {
	background: ButtonFace;
}
 .toolbar .btn-, .toolbar  .btn-hover,  .toolbar .btn-active,  .toolbar .btn-pressed {
  background: ButtonFace;
  color: ButtonText;
  border: 1px solid ButtonFace;
  padding: 1px;  margin: 0px;
  cursor: pointer; cursor: hand; 
 }
 .toolbar img{
  width: 20px;
  height: 20px;
 }
 .toolbar .btn-hover {
  border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
 }
 .toolbar .btn-active,  .toolbar .btn-pressed {
  border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
 }
 .toolbar .btn-pressed {
  background: ButtonHighlight;
 }
 .toolbar .btn-separator {
border-left:1px solid buttonshadow;
border-right:1px solid buttonhighlight;
height:18px;
margin:3px;
padding:0;
width:0;
}
 .edname-w, .edname-r, .edname-s  
            { font: bold 14px Arial; border: 3px solid #D4D0C8; padding: 0 7px; color:#ffffff; vertical-align: middle;}
 .edname-w  { background: #1E9905; }
 .edname-r  { background: #2A45D0; } 
 .edname-s  { background: #D08C2A; }

.autocomplete-inplace {
	background: ButtonFace;
	border: 1px solid ButtonShadow;
	padding: 2px;
	font: 12px Arial;
}
.autocomplete-inplace div {
	padding: 2px 5px;
	cursor: pointer;
}
.autocomplete-inplace div.ac-over- {
	color:#ffffff;
	background: #1E9905;
}


.menu-top {
	color: #FFFFFF;
	text-align: left;
	vertical-align: middle;
	padding: 2px 10px;
}
.menu-top A {
	color: #FFFFFF;
}
.menu-top INPUT {
	border: 1px solid #333333;
}

/* CSS form formater */
.cssform p {
	width: 300px;
	clear: left;
	margin: 0;
	padding: 5px 0 8px 0;
	padding-left: 155px; /*width of left column containing the label elements*/
	border-top: 1px dashed gray;
	height: 1%;
}
.cssform label {
	font-weight: bold;
	float: left;
	margin-left: -155px; /*width of left column*/
	width: 150px; /*width of labels. Should be smaller than left column (155px) to create some right margin*/
}
.cssform input[type="text"] { /*width of text boxes. IE6 does not understand this attribute*/
	width: 180px;
}
.cssform textarea {
	width: 250px;
	height: 150px;
}
.cssform span.site_count {
	font-weight: normal;
	float: left;
	margin-left: -155px; /*width of left column*/
	width: 150px; /*width of labels. Should be smaller than left column (155px) to create some right margin*/
}
.BewareChangeLang{
	border: 1px solid #ffee66;
	width: 400px;
	background-color: #ffffdd;
	background-image: url(../../../images/warning.gif);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 10px 10px;
	margin: 10px;
	padding: 5px 5px 5px 40px;
}

/* cssform1 for actions */
#cssform1 {
	width:50%;
	padding:10px;
	margin:0 auto;
}
#cssform1 p {
	clear: left;
	margin: 0;
	padding: 5px 0 8px 0;
	padding-left: 20%; /*width of left column containing the label elements*/
	border-top: 1px dashed gray;
	height: 1%;
}
#cssform1 label {
	float: left;
	margin-left: 0px; /*
	margin-left: -155px; width of left column*/
	width: 150px;/* width of labels. Should be smaller than left column (155px) to create some right margin*/
}
#cssform1 input[type="text"] { /*width of text boxes. IE6 does not understand this attribute*/
	width: 180px;
}
#cssform1 textarea {
	width: 250px;
	height: 150px;
}
#cssform1 span.site_count {
	font-weight: normal;
	float: left;
	margin-left: 0px; /*
	margin-left: -155px; width of left column*/
	width: 150px; /*width of labels. Should be smaller than left column (155px) to create some right margin*/
}

/* feed action */
.feed {
    overflow:auto;
}
.feed .note {
     font-size: 11px;
     color: #777;
}
.feed .note a {
     color: #777;
}
.feed_element_title {
	/* We're going to add some space next to the titles so we can fit the 16x16 favicon image. */
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:0 1px;
	padding-left:20px;
}