
#menuShortcut {
	position: absolute;
	left: 5px;
	top: 120px;
	width: 20px;
	height: 20px;
	padding: 3px;
	z-index: 5;
}

#menuSystem {
	position: absolute;
	left: 0px;
	top: 120px;
	z-index: 6;
	visibility: hidden;
}
#menuSystem table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
	border-collapse: collapse;
	width: auto;
}
#menuSystem table td {
	padding: 0px;
}



#menuInner table {
	border: 1px outset #8891A5;
	border-collapse: collapse;
	width: 130px;
}
#menuInner th {
	background-color: #E1E1E1;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	color: #333333;
	letter-spacing: normal;
	vertical-align: middle;
}
#menuInner table td {
	color: #EDEDED;
	background-color: #8891A5;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	white-space: nowrap;
}



#menuInner a {
	color: #EDEDED;
	text-decoration: none;
	display: block;
	padding-left: 5px;
	padding-right: 5px;
}
#menuInner a:hover {
	color: #333333;
	background-color: #EDEDED;
	text-decoration: none;
}
#menuInner a:active {
	color: #333333;
	background-color: #CCCCCC;
	text-decoration: none;
}



#menuInner a.favs {
	color: #EDEDED;
	text-decoration: none;
	text-align: center;
	display: block;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 5px;
}
#menuInner a.favs:hover {
	color: #333333;
	background-color: #FFCCCC;
	text-decoration: none;
}
#menuInner a.favs:active {
	color: #333333;
	background-color: #FFAAAA;
	text-decoration: none;
}



#menuInner .missingpage {
	color: #333333;
	background-color: #FFCCCC;
	display: block;
	padding-left: 5px;
	padding-right: 5px;
	border: none;
}



#menuInner td a img {
	display: none;
}



#menuInner .toc1 a {
}
#menuInner .toc2 a {
	padding-left: 20px;
}
#menuInner .toc3 a {
	font-size: 10px;
	padding-left: 40px;
}

#menuInner ul, #menuInner ol {
	padding-left: 0px;
	list-style: none;
}
#menuInner ul ul a, #menuInner ol ol a {
	padding-left: 20px;
}
