/*
   Wacko Wiki Installer Cascading Stylesheet

   Panel Theme v1.0 by Tann San 19.04.2008
*/

:root {
	--ww-font-sans-serif: Verdana, Arial, Helvetica, sans-serif;
}

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	background: #FFF no-repeat scroll 0 0;
	font: normal 14px var(--ww-font-sans-serif);
	color: #333;
	text-align: center;
}

/*
   BG Panel
*/
.installer {
	width: 993px;
	margin: 25px auto;
	padding: 0;
	text-align: left;
}
[dir=rtl] .installer {
	text-align: right;
}

/*
   Generic Text Elements
*/
h1 {
	float: left;
	position: relative;
	left: 43px;
	margin: 0;
	padding: 0;
	font: normal normal normal 24px var(--ww-font-sans-serif);
	color: #333;
}
[dir=rtl] h1 {
	float: right;
	left: unset;
	right: 43px;
}

h2,
.label_top {
	position: relative;
	left: 43px;
	margin: 20px 0 0 0;
	padding: 0;
	font: normal normal 900 14px var(--ww-font-sans-serif);
	color: #333;
}
[dir=rtl] h2,
[dir=rtl] .label_top {
	left: unset;
	right: 43px;
}

p {
	width: 907px;
	margin: 10px 43px;
	color: #000;
}

label {
	font-size: 14px;
	color: #333;
}

.white {
	color: #666;
}

p.notop {
	margin-top: 0;
}

ol {
	list-style: decimal inside none;
}

ul {
	list-style: none;
}

ul, ol, select {
	position: relative;
	left: 43px;
	margin: 0;
	padding: 0;
}
[dir=rtl] ul,
[dir=rtl] ol,
[dir=rtl] select {
	left: unset;
	right: 43px;
}

ul.install_error {
	color: #c00;
}

li {
	width: 907px;
}

/*
   Handle hr across browsers
*/
hr {
	display: none;
	color: #fff;
	background-color: #fff;
}

.fake_hr {
	clear: both;
	height: 1px;
	border-top: 1px dashed #fff;
	margin: 0;
}

.fake_hr_separator {
	clear: both;
	height: 1px;
	border-top: 1px dashed #ddd;
	margin: 10px 43px;
}

/*
   Main Menu
*/
.menu {
	left: 0;
	clear: both;
	list-style: none;
	margin: 0 auto;
	padding: 4px 0 8px 0;
	font-weight: 900;
	text-align: center;
}

.menu li {
	display: inline;
	width: auto;
	margin: 0 2px;
}
.menu li span {
	color: #ccc;
	margin: 0 4px 0 0;
}

.item {
	color: #333;
}

.current {
	color: #ff0000;
}

/*
   Language Selection Specific
*/
.input_lang {
	position: relative;
	left: 90px;
}
[dir=rtl] .input_lang {
	left: unset;
	right: 90px;
}

.label_lang {
	position: relative;
	left: 90px;
	margin: 10px 0 0 5px;
}
[dir=rtl] .label_lang {
	left: unset;
	right: 90px;
}

.warning {
	border: 1px solid #ffee66;
	width: auto;
	background: #ffffdd url('../image/important.svg') no-repeat scroll 10px 10px;
	margin: 10px 43px;
	padding: 10px 10px 10px 40px;
	position: relative;
}
div.security,
p.security {
	border: 1px solid #d893a1;
	width: auto;
	background: #fbe6f2 url('../image/warning.svg') no-repeat scroll 10px 10px;
	margin: 10px 43px;
	padding: 10px 10px 10px 40px;
	position: relative;
}

/*
   Version Check Specific
*/
.tickcross {
	vertical-align: middle;
}

.cross {
	background: url('../image/cross.svg'), none no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
}
.tick {
	background: url('../image/tick.svg'), none no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
}

.security ul {
	list-style: square;
	padding: 5px 0 0 20px;
	left: 0;
}

/*
   Site Configuration Specific
*/
.indented_label {
	position: relative;
	left: 43px;
	width: 300px;
	font-size: 12px;
	font-weight: 900;
	color: #666;
}
[dir=rtl] .indented_label {
	left: unset;
	right: 43px;
}

.label_password2 {
	position: relative;
	left: 43px;
	margin: 0 10px 0 20px;
	font-size: 12px;
	font-weight: 900;
	text-align: right;
}
[dir=rtl] .label_password2 {
	left: unset;
	right: 43px;
}

/*
   Write Config Specific
*/
ul.security {
	padding: 10px;
	border: 1px solid #d893a1;
	background: #fbe6f2;
}
ul.security li {
	min-height: 23px;
	padding: 3px 0 0 35px;
	background: url(../image/warning.svg) no-repeat scroll 0 0;
}

/*
   Generic Stylings
*/
.text_input {
	position: relative;
	left: 43px;
	width: 300px;
	margin-top: 0;
}
[dir=rtl] .text_input {
	left: unset;
	right: 43px;
}

.checkbox_input {
	position: relative;
	left: 43px;
}
[dir=rtl] .checkbox_input {
	left: unset;
	right: 43px;
}

.column-3 {
	column-count: 3;
	column-gap: 40px;
	width: 400px;
}

.next {
	position: relative;
	left: 450px;
	margin: 10px;
}
[dir=rtl] .next {
	left: unset;
	right: 450px;
}

.config_code {
	position: relative;
	left: 43px;
	width: 907px;
	margin: 0;
	padding: 10px;
	background-color: #eee;
	overflow-x: scroll;
}
[dir=rtl] .config_code {
	left: unset;
	right: 43px;
}

.version {
	color: #008000;
	font-weight: bold;
}