/* -- Floatbox -------------------------------------------------------------- */

div.floatbox, div.box
{
    background:#fff;
	border-style:none;
	padding:0.555em 0;
	margin:0.555em 0;
	font-size:0.9em;
}

div.floatbox
{
	float: right;
	width:30%;
	margin:0;
	padding:0 0 2.222em 2.222em;
}

div.floatbox div.inner
{
	background-color:#f6f6f6;
	padding-bottom: 0.5em;
}

div.floatbox div.inner h1,
div.floatbox div.inner h2
{
    font-size:1.111em; font-weight:bold;
    padding:0.3em 0.6em;
    background-color:#ddd;
}

div.floatbox div.inner ul,
div.floatbox div.inner ol,
div.floatbox div.inner p
{
    margin-left:0.333em;
    margin-right:0.333em;
}

div.floatbox div.inner ul,
div.floatbox div.inner ol
{
    margin-left:2.111em;
}

div.floatbox div.inner ul ul,
div.floatbox div.inner ol ol,
div.floatbox div.inner ul ol,
div.floatbox div.inner ol ul
{
    margin-left:1.6em;
    margin-right:0;
}

/* -- TOC ------------------------------------------------------------------- */

.content fieldset
{
    padding:1em 0; margin:0 0 2em 0;
    border-top:solid; border-top:solid;
    border-right:none; border-left:none;
    border-width:1px;
    border-color:#ccc;
}

.content div.floatbox fieldset
{
    border:none;
    padding:0.333em;
}

.content fieldset legend { display:none; }
.content fieldset.preview legend { display:block !important; font-size:1em; font-weight:bold; color:red; }
.content fieldset.preview fieldset legend { display:none !important; }
.content fieldset.preview { margin-top:1.5em; }

fieldset.fieldsetTreeGrrrr div.indent
{
	background-color:transparent;
	color:inherit;
	padding:0;
	border-style:none;
	outline:none;
	font-size:1em;
	margin-bottom:0em;
	margin-left:1.5em;
}

fieldset.fieldsetTreeGrrrr div.indent a,
div.toc1 a, div.toc2 a, div.toc3 a, div.toc4 a, div.toc5 a
{
	font-weight:normal;
}

fieldset.fieldsetTreeGrrrr div.indent a,
div.toc1, div.toc2, div.toc3, div.toc4, div.toc5
{
	display:list-item;
	list-style:disc;
	margin-right:0.5em;
}

fieldset div.toc1, fieldset div.toc2, fieldset div.toc3,
fieldset div.toc4, fieldset div.toc5
{
	font-size:1em;
}

div.toc1 { margin-left:1.5em; }
div.toc2 { margin-left:2.5em; }
div.toc3 { margin-left:3.5em; }
div.toc4 { margin-left:4.5em; }
div.toc5 { margin-left:5.5em; }

/* do not show BRs in TOC tree */
fieldset.fieldsetTreeGrrrr div.indent br
{
	display:none;
}


