/* -- Text ------------------------------------------------------------------ */

h1, h2, h3, h4, h5, h6
{ font-weight:normal; padding:0; margin:1em 0 0.5em 0; color:#111; }

h1 { font-size:2em; }
h2 { font-size:1.5em; border-bottom:solid 1px #ccc; }
h3 { font-size:1.2em; font-weight:bold; }
h4 { font-size:1.2em; }
h5 { font-size:1em; font-weight:bold; }
h6 { font-size:1em; }

p, ol, ul, pre, blockquote, dl
{
    padding:0.5em 0;
    margin:0.5em 0;
}

ul { margin-left:3em; margin-right:3em; }
ol { margin-left:3em; margin-right:3em; }
ul ul, ul ol, ol ol, ol ul
{
    margin:0 0 0 1.6em;
    padding-bottom:0;
}

li { margin-bottom:0.5em; }

blockquote
{
    margin-left:1.5em; margin-right:2em;
    padding-left:1em; padding-right:1em;
    background-color:#eee;
    border-left:solid 0.5em #ddd;
    font-family:serif; font-style:italic;
}

/* **bold**           */ strong { font-weight:bold; }
/* //italic//         */ em { font-style:italic; }
/* __underline__      */ u { text-decoration:underline; }
/* ++small++          */ small { font-size:small; }
/* ##monospace##      */ tt { font-family:System, monospace; background:#f6f6f6; }
/* --strike through-- */ s { text-decoration:line-through }
/* !!attention!!      */ span.cite { background:#ffb; color:#000; }
/* ??marked??         */ span.mark { background:#fbb;}

/* Highlighted text: SYNTAX ??(green)text?? */
.mark-yellow {background: #ffff00;}
.mark-green {background: #008000;}
.mark-blue {background: #0000ff;}
.mark-red {background: #ff0000;}
/* (?Term==Def?)      */ dfn { font-variant:small-caps; cursor:help; font-style:normal; border-bottom:dotted 1px #ccc; color:#000; }

abbr, acronym { border-bottom:dotted; border-width:1px; cursor:help; }

hr { border-width:1px, border-color:#999; border-style:solid none none none; }

sup, sub { line-height:0; }
sub { margin:0 -0.5ex; }

/* indent, used as big marked block */
div.indent { padding-left:1em; padding-right:1em; background-color:#FFFFE6; color:#d00; }


/* %%(codeblock)
   goes here
   %%               */
div.code, textarea.code
{
    display:block;
    font-family:System, monospace; font-size:0.9em;
    background:#f6f6f6; border:none;
    overflow:auto;
    max-height:20em;
    width:auto;
    padding:0; margin:1em 0;
}

/* %%
   code goes here
   %%               */
textarea.code
{
    width:60%; margin:0; padding:0.5em 1em;
}

code, pre { font-family:System, monospace; padding:0.5em 1em; margin:0; display:block; font-size:1em; }
pre pre, pre code, code code, code pre { padding:0; }

/* -- Tables ---------------------------------------------------------------- */

table, .usertable, .dtable
{
    background-color:transparent;
    width:auto;
    padding:0.5em 0; margin:0.5em 0;
    border-collapse:collapse;
    border-spacing:0;
    empty-cells:show;
    caption-side:bottom;
    table-layout:auto;
    font-size:1em;
    border-color:#ccc;
}

.dtable { width:100%; border:none; }

.usertable td, .dtable td, .usertable th, .dtable th
{ padding:0.1em 0.2em; text-align:left; vertical-align:top; }

th { font-weight:bold; }
td { font-weight:normal; }

.usertable tbody td, .dtable tbody td
{ border-style:solid; border-width:1px; border-color:#ccc; }

.dtable tbody td
{ border-style:solid none; }

.usertable thead th, .dtable thead th
{ background-color:#ccc; }

table caption {
    font-size:0.9em; font-style:italic;
    margin-top:0.25em 0 2em 0.222em;
    color:#555;
    text-align:left;
}

/* -- Links ----------------------------------------------------------------- */

a:link, a:visited { text-decoration:underline; }
a:link { color:blue; }
a:visited { color:purple; }
a:focus, a:hover, a:active { text-decoration:none; color:blue; }

h1 a:link, h1 a:visited,
h2 a:link, h2 a:visited,
h3 a:link, h3 a:visited,
h4 a:link, h4 a:visited,
h5 a:link, h5 a:visited,
h6 a:link, h6 a:visited
{ /* color:#004; */ text-decoration:none; }

h1 a:focus, h1 a:hover, h1 a:active
h2 a:focus, h2 a:hover, h2 a:active
h3 a:focus, h3 a:hover, h3 a:active
h4 a:focus, h4 a:hover, h4 a:active
h5 a:focus, h5 a:hover, h5 a:active
h6 a:focus, h6 a:hover, h6 a:active
{ text-decoration:underline; }

/* -- Images ---------------------------------------------------------------- */

img { border:none; vertical-align:middle; padding:0.5em; margin:0.5em; }
img.contexticon { padding:0; margin:0 0.2em 0 0; height:1.1em; }

/* -- Forms ----------------------------------------------------------------- */

form, fieldset, input, textarea, button, select
{
    font-size:1em;
    line-height:1.5em;
    border-width:1px;
}


/* -- Hacks to correct Wacko markup ----------------------------------------- */

/* Wacko is spamming BRs, in between everything
   - only show it where it makes sense */
br
{ display:none; }

p br, ul br, ol br, blockquote br, pre br, table br,
fieldset.preview br, div.code br, form br, div.indent br
{ display:inline; }

/* Wacko is putting P.auto around DIV elements = Plain Simple Bullshit */
/* div.page a:first-child + p.auto { margin:0; padding:0; } */
fieldset.preview a:first-child + p.auto { margin:0; padding:0; }

/* do not show DIV.pageBefore stuff */
div.pageBefore, div.pageBefore img { display:none; margin:0; padding:0; }

/* ??? */
fieldset.preview h1, fieldset.preview h2, fieldset.preview h3,
fieldset.preview h4, fieldset.preview h5
{ margin-top:0.75em; }

/* pre-code makes preview ugly, kill non-breaking white spaces */
fieldset.preview pre { white-space:normal; }

/* hack for wacko code (Why?) */
legend strong { font-weight:normal !important; }


