body {
background-color:#ccc;
margin:0;
}

div#head {
background-image:url(../images/bg.jpg);
background-color:#607EBC;
border-color:#435884;
border-style:solid;
border-width:1px;
border-right-color:#435884;
border-right-style:solid;
border-right-width:1px;
border-bottom-color:#C1D5FF;
border-bottom-style:solid;
border-bottom-width:3px;
height:50px;
margin:0 auto;
width:960px;
}

div#wikititle{
width:200px;
color: #607EBC; /*#fff;*/
float:left;
margin-top:26px;
margin-left:300px;/*10px;*/
font-weight:bold;
}

div#search{
color:#fff;
margin-top:26px;
margin-right:12px;
float:right;}

input#search {
border:1;
color:#333;
float:right;
font-family:Arial, Helvetica, sans-serif;
font-size:0.95em;
margin:14px 20px;

width:160px;
}

div#container {
border-left-color:#607EBC;
border-left-style:solid;
border-left-width:1px;
border-right-color:#607EBC;
border-right-style:solid;
border-right-width:1px;
border-bottom-color:#607EBC;
border-bottom-style:solid;
border-bottom-width:1px;
background-color:#fff;
margin:0px auto;
width:960px;
}

div#navi {
background-color:#fff;
padding-top:20px;
padding-left:8px;
float:left;
width:130px;
}

div#content {
background-color:#fff;
border-left-color:#C1D5FF;
border-left-style:solid;
border-left-width:1px;
float:right;
padding:5px;
width:800px;
}

div#footer {
background-image:url(../images/footer_back.gif);
background-position:center;
background-repeat:no-repeat;
clear:both;
margin:0 auto;
padding-bottom:10px;

padding-top:10px;
width:959px;
}