/*
   Wacko Wiki Installer Cascading Stylesheet

   Panel Theme v1.0 by Tann San 19.04.2008
*/

:root {
	--ww-font-sans-serif: Verdana, Arial, Helvetica, sans-serif;
}

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	background: #FFF no-repeat scroll 0 0;
	font: normal 87.5% var(--ww-font-sans-serif);
	color: #333;
	text-align: center;
}

/*
   BG Panel
*/
.installer {
	width: 993px;
	margin: 25px auto;
	padding: 0;
	text-align: left;
}
[dir=rtl] .installer {
	text-align: right;
}

/*
   Generic Text Elements
*/
h1 {
	float: left;
	position: relative;
	left: 43px;
	margin: 0;
	padding: 0;
	font: normal normal normal 1.5rem var(--ww-font-sans-serif);
	color: #333;
}
[dir=rtl] h1 {
	float: right;
	left: unset;
	right: 43px;
}

h2,
.label_top {
	position: relative;
	left: 43px;
	margin: 20px 0 0 0;
	padding: 0;
	font: normal normal 900 0.875rem var(--ww-font-sans-serif);
	color: #333;
}
[dir=rtl] h2,
[dir=rtl] .label_top {
	left: unset;
	right: 43px;
}

p {
	width: 907px;
	margin: 10px 43px;
	color: #000;
}

code {
	font-size: 0.875rem;
}

label {
	font-size: 0.875rem;
	color: #333;
}

.white {
	color: #666;
}

p.notop {
	margin-top: 0;
}

ol {
	list-style: decimal inside none;
}

ul {
	list-style: none;
}

ul, ol, select {
	position: relative;
	left: 43px;
	margin: 0;
	padding: 0;
}
[dir=rtl] ul,
[dir=rtl] ol,
[dir=rtl] select {
	left: unset;
	right: 43px;
}

ul.install_error {
	color: #c00;
}

li {
	width: 907px;
}

/*
   Handle hr across browsers
*/
hr {
	display: none;
	color: #fff;
	background-color: #fff;
}

.fake_hr {
	clear: both;
	height: 1px;
	border-top: 1px dashed #fff;
	margin: 0;
}

.fake_hr_separator {
	clear: both;
	height: 1px;
	border-top: 1px dashed #ddd;
	margin: 10px 43px;
}

/*
   Main Menu
*/
.menu {
	left: 0;
	clear: both;
	list-style: none;
	margin: 0 auto;
	padding: 4px 0 8px 0;
	font-size: 0.75rem;
	font-weight: 900;
	text-align: center;
}

.menu li {
	display: inline;
	width: auto;
	margin: 0 2px;
}
.menu li span {
	color: #ccc;
	margin: 0 4px 0 0;
}

.item {
	color: #333;
}

.current {
	color: #ff0000;
}

/*
   Language Selection Specific
*/
.input_lang {
	position: relative;
	left: 90px;
}
[dir=rtl] .input_lang {
	left: unset;
	right: 90px;
}

.label_lang {
	position: relative;
	left: 90px;
	margin: 10px 0 0 5px;
}
[dir=rtl] .label_lang {
	left: unset;
	right: 90px;
}

/*
   Message Boxes
*/
.msg {
	position: relative;
	margin: .6rem 43px;
	padding: .625rem .625rem .625rem 2.5rem;
	overflow: auto;
	width: 857px;
}
.msg::before {
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	top: 0;
	width: 2.5rem;
}
.msg::after {
	position: absolute;
	height: 1rem;
	width: 1rem;
	margin-top: 0;
	top: .6rem;
	left: .6rem;
}

.notice {
	border: 1px solid #dda;
	background: #ffffef;
}
.notice::after {
	content: url('../../image/info.svg') " ";
}

.warning {
	border: 1px solid #fe6;
	background: #ffd;
}
.warning::after {
	content: url('../../image/important.svg') " ";
}

.security {
	border: 1px solid #d893a1;
	background: #fbe6f2;
}
.msg.security::after {
	content: url('../../image/warning.svg') " ";
}

/*
   Version Check Specific
*/
.tickcross {
	vertical-align: middle;
}

.cross {
	background: url('../../image/cross.svg'), none no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
}
.tick {
	background: url('../../image/tick.svg'), none no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
}

.security ul {
	list-style: square;
	padding: 5px 0 0 20px;
	left: 0;
}

/*
   Site Configuration Specific
*/
.indented_label {
	position: relative;
	left: 43px;
	width: 300px;
	font-size: 0.75rem;
	font-weight: 900;
	color: #666;
}
[dir=rtl] .indented_label {
	left: unset;
	right: 43px;
}

.label_password2 {
	position: relative;
	left: 43px;
	margin: 0 10px 0 20px;
	font-size: 0.75rem;
	font-weight: 900;
	text-align: right;
}
[dir=rtl] .label_password2 {
	left: unset;
	right: 43px;
}

/*
   Write Config Specific
*/
ul.attention {
	border: 1px solid #d893a1;
	background: #fbe6f2;
	width: 907px;
}

.attention li {
	position: relative;
	padding: .625rem 2.5rem;
	overflow: auto;
	width: 827px;
}
.attention li::before {
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	top: 0;
	width: 2.5rem;
}
.attention li::after {
	position: absolute;
	height: 1rem;
	width: 1rem;
	margin-top: 0;
	top: .6rem;
	left: .6rem;
}

.attention li::after {
	content: url('../../image/warning.svg') " ";
}
/*
   Generic Stylings
*/
.text_input {
	position: relative;
	left: 43px;
	width: 300px;
	margin-top: 0;
}
[dir=rtl] .text_input {
	left: unset;
	right: 43px;
}

.checkbox_input {
	position: relative;
	left: 43px;
}
[dir=rtl] .checkbox_input {
	left: unset;
	right: 43px;
}

.column-3 {
	column-count: 3;
	column-gap: 40px;
	width: 400px;
}
.column-4 {
	column-count: 4;
	column-gap: 40px;
	width: 600px;
}

.next {
	position: relative;
	left: 450px;
	margin: 10px;
}
[dir=rtl] .next {
	left: unset;
	right: 450px;
}

.config_code {
	position: relative;
	left: 43px;
	width: 907px;
	margin: 0;
	padding: 10px;
	background-color: #eee;
	overflow-x: scroll;
}
[dir=rtl] .config_code {
	left: unset;
	right: 43px;
}

.version {
	color: #008000;
	font-weight: bold;
}
