
/*	Basic tag styles	*/

:root {
	--ww-font-serif: "Times New Roman", Times, serif;
	--ww-font-sans-serif: Verdana, Arial, Helvetica, sans-serif;
	--ww-font-monospace: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, sans-serif;
}

html {
	font-size: 120%;
}

body {
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
	cursor: default;
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	/* text-align: left; */
	margin-bottom: 0;
}
p {
	margin: 0;
}
code {
	font-family: var(--ww-font-monospace);
	text-align: left;
	background-color: #ffffcc;
	padding: 0 2px;
	color: #666600;
}
pre {
	font-family: var(--ww-font-monospace);
	white-space: pre;
	text-align: left;
}
small {
	font-size: 0.75rem; /* 12px */
	line-height: normal;
}
form small,
table.usertable small,
small small {
	font-size: 0.6875rem; /* 11px */
}
sub, sup {
	font-size: 0.6875rem; /* 11px */
	letter-spacing: normal;
	margin-left: 1px;
	margin-right: 1px;
}
sub {
	vertical-align: -30%;
}
sup {
	vertical-align: 30%;
}
hr {
	border-top: 1px solid #babfc7;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
blockquote {
	color: #6A7387;
	font-style: italic;
	padding-left: 10px;
	margin: 0;
	border-left: 2px solid #babfc7;
}
blockquote em {
	font-style: normal;
}
dfn {
	font-family: var(--ww-font-serif);
	cursor: help;
}
dfn:hover {
	text-decoration: underline overline;
}


/*	List styles	*/

ul, ol {
	margin: 0;
	padding-left: 30px;
}
[dir=rtl] ul,
[dir=rtl] ol {
	padding-left: unset;
	padding-right: 30px;
}

/*	Image styles	*/

img {
	font-family: var(--ww-font-sans-serif);
	font-size: 0.625rem; /* 10px */
	height: auto;
	max-width: 100%;
}
a img {
	color: #333;
	text-decoration: underline;
	vertical-align: middle;
	border: 0 none;
	max-height: 100%;
	width: auto;
}



/*	Table styles	*/

table {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0 none;
}
table td {
	margin: 0;
	padding: 0 5px;
	border: 0 none;
	vertical-align: top;
}
table th {
	color: #fff;
	font-weight: 600;
	background-color: #babfc7;
	text-align: center;
	padding: 3px;
}



/*	Form elements	*/

input,
select {
	/* vertical-align: middle; */
}
textarea {
	height: 160px;
	padding: 3px;
}
input[type="checkbox"],
input[type="radio"] {
	margin-left: 8px;
	margin-right: 10px;
}

/* hides dummy field for bots and autocomplete */
input.verify { display: none; }

/*	Layout styles	*/

.center {
	text-align: center;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.code,
.hl-main pre {
	letter-spacing: normal;
	word-spacing: normal;
	background: #ededed none;
	height: auto;
	border: none;
}

.info {
	/* font-style: italic; */
	padding-top: 15px;
}
.error {
	color: #ff9999;
	font-weight: 600;
	text-align: center;
}
.nobr {
	white-space: nowrap;
}

.favicon {
	max-width: 4em;
}


table.formation {
	font-size: 0.75rem; /* 12px */
	padding: 3px;
}
table.formation th,
tr.formation th,
table.forum th {
	color: #333;
	letter-spacing: 1px;
	background-color: #fff;
	border-bottom: solid 1px #babfc7;
}
td.label,
th.label {
	text-align: right;
	padding-right: 5px;
	border-right: 1px solid #cc0000;
	/* border-bottom: 0 !important; */
}
[dir=rtl] td.label,
[dir=rtl] th.label {
	padding-right: unset;
	border-right: unset;
	text-align: left;
	padding-left: 5px;
	border-left: 1px solid #cc0000;
}

.lined td {
	border-bottom: 1px dotted #babfc7;
}
.lined tr:hover,
.hl-setting:hover {
	background:none repeat scroll 0 0 #CCFFCC !important;
}

table.forum th {
	font-size: 0.75rem; /* 12px */
	text-align: center;
	white-space: nowrap;
	border-spacing: 3px;
	border-collapse: separate;
}

/* db-stats table */
.db-stats {
	max-width: 600px;
}
.db-stats th:nth-child(1) {
	width: 50px;
}
.db-stats td:nth-child(2) {
	text-align: right;
}
.db-stats td:nth-child(n+3) {
	text-align: center;
}

/* file-stats table */
.file-stats {
	max-width: 300px;
}
.file-stats td:nth-child(2) {
	text-align: right;
}
.file-stats td:nth-child(3) {
	text-align: center;
}

/* sysinfo table */
.sysinfo {
	max-width: 800px;
}
.sysinfo th:nth-child(1) {
	width: 120px;
}

/* syslog table */
.syslog th:nth-child(1){
	width: 5px;
}
.syslog th:nth-child(n+2):nth-child(-n+3),
.syslog th:nth-child(5) {
	width: 20px;
}
.syslog td:nth-child(n+1) {
	vertical-align: top;
}
.syslog td:nth-child(n+2):nth-child(-n+3),
.syslog td:nth-child(5){
	text-align: center;
}
.syslog td:nth-child(3) {
	padding-left: 5px;
	padding-right: 5px;
}

.setting col:nth-child(n) {
	width: 50%;
}

/* approve users table */
.approve col:nth-child(1) {
	width: 5px;
}
.approve col:nth-child(3),
.approve col:nth-child(n+5) {
	width: 20px;
}
.approve col:nth-child(9) {
	width: 200px;
}

/* groups table */
.groups col:nth-child(n+1):nth-child(-n+2) {
	width: 5px;
}
.groups col:nth-child(3),
.groups col:nth-child(n+5) {
	width: 20px;
}

/* users table */
.users col:nth-child(n+1):nth-child(-n+3) {
	width: 5px;
}
.users col:nth-child(4),
.users col:nth-child(n+6) {
	width: 20px;
}
.users td:nth-child(4) {
	padding-left: 5px;
	padding-right: 5px;
}

.permissions {
	width: 200px;
	height: 50px;
}
.sec-header {
	width: 100%;
	min-height: 200px;
}

#content fieldset {
	font-size: 0.75rem; /* 12px */
	padding: 0 0 0 30px;
	margin: 0;
	border: none;
}
#content fieldset legend {
	font-size: 0.6875rem; /* 11px */
	letter-spacing: 2px;
	padding-left: 10px;
	padding-right: 100px;
	margin-bottom: 10px;
	margin-left: -30px;
	border-bottom: solid 1px #babfc7;
}
#content fieldset legend strong {
	font-weight: normal;
}

.red	{ color: #cc0000; }
.grey	{ color: #babfc7; }
.green	{ color: #00cc33; }
.blue	{ color: #00aacc; }

/*	Basic tags	*/

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	padding: 1em 0;
	color: #505050;
}

h1 {
	font-size: 1.1875rem; /* 19px */
	margin-top: 0;
}
h2 {
	font-size: 1.0625rem; /* 17px */
	margin-top: 30px;
	padding-top: 3px;
}
h3 {
	font-size: 1rem;
}
h4 {
	font-size: 0.875rem; /* 14px */
}
h5, h6 {
	font-size: 0.6875rem; /* 11px */
}
small {
	word-spacing: 2px;
}
sup, sub {
	word-spacing: 1px;
}
.underline {
	text-decoration:underline;
}

/** message boxes ************************************************************/
.msg {
	position: relative;
	margin: .6rem 0;
	padding: .625rem 2.5rem .625rem;
	overflow: auto;
}
.msg::before {
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	top: 0;
	width: 2.5rem;
}
.msg::after {
	position: absolute;
	height: 1rem;
	width: 1rem;
	margin-top: 0;
	top: .6rem;
	left: .6rem;
}
.error {
	background: #f8d4cc;
	margin: 10px;
	color: #cc3333;
	font-weight: bold;
}
.msg.error::after {
	content: url('./../../image/cross.svg') " ";
}
.comment-info {
	color: #AAAAAA;
	border: 1px solid #d5d9e6;
	font-weight: bold;
}
.msg.comment-info::after {
	content: url('./../../image/comment.svg') " ";
}

.note {
	background: #F4FBFF;
	border: 1px solid #D5D9E6;
	color: #cc3333;
}
.msg.note::after {
	content: url('./../../image/info.svg') " ";
}

.notice {
	background-color: #fff;
	border: 1px dotted #DDDDAA;
}
.msg.notice::after {
	content: url('./../../image/info.svg') " ";
}

.success {
	background: #e9ffd9;
	/* border: 1px solid #adde5c; */
	color: #008000;
	font-weight: bold;
}
.msg.success::after {
	content: url('./../../image/tick.svg') " ";
}

.warning {
	color: #d33;
	background: #fcfcfc;
	border: 1px dotted #d893a1;
	font-weight: bold;
}
.msg.warning::after {
	content: url('./../../image/warning.svg') " ";
}

.hint {
	border: 1px solid #ffee66;
	background: #ffffdd;
}
.msg.hint::after {
	content: url('./../../image/important.svg') " ";
}


.active {
	font-weight: bold;
}

/*	Link styles	*/

#content a {
	color: #777;
	text-decoration: none;
	letter-spacing: 1px;
	word-spacing: 4px;
}
#content a:hover {
	text-decoration: none;
	border-bottom: 2px solid #b00202;
}
#content a:active {
	color: #777;
	text-decoration: none;
	border-bottom: 2px solid #ff0000;
}


/*	Form elements	*/
textarea {
	font-family: var(--ww-font-monospace);
	font-size: 0.875rem; /* 14px */
	color: #333;
	letter-spacing: 1px;
	width: 100%;
	border: 1px solid #999;
}

/*	Header layout	*/

#header {
	height: 80px;
	font-family: var(--ww-font-sans-serif);
	white-space: nowrap;
}
#path {
	font-family: var(--ww-font-monospace);
	font-size: 0.625rem; /* 10px */
	color: #333;
	line-height: 20px;
	margin-left: 20px;
	margin-right: 20px;
	height: 20px;
}
	#path a {
		color: #333;
		text-decoration: none;
	}
	#path a:hover {
		color: #333;
		text-decoration: underline;
	}
	#path a:active {
		color: #333;
		text-decoration: none;
	}
	#path img {
		display: none;
	}
#pane {
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
	background: #f0f4f5 repeat-x 1px 0;
	height: 60px;
}
	#pane div.left {
		width: 20px;
		height: 60px;
		float: left;
	}
	#pane div.middle {
		min-width: 153px;
		height: 60px;
		float: left;
	}
	[dir=rtl] #pane div.middle {
		float: right;
	}
		#pane div.middle h1,
		#pane div.middle h1 a,
		#pane div.middle h1 a:hover,
		#pane div.middle h1 a:active {
			color: #666;
			font-family: var(--ww-font-monospace);
			font-size: 1.125rem; /* 18px */
			line-height: 18px;
			text-align: center;
			white-space: normal;
			margin: 0;
			height: 60px;
			float: left;
			text-decoration: none;
		}
	#nav {
		font-weight: bold;
		font-size: 0.6875rem; /* 11px */
		margin-right: 30px;
		padding-left: 15px;
		padding-top: 2px;
		height: 30px;
		float: left;
	}
		#nav a {
			color: #cbdae1;
			text-decoration: none;
			padding: 5px;
		}
		#nav a:hover {
			color: #073d69;
			background-color: #fff;
			text-decoration: none;
		}
		#nav a:active {
			color: #073d69;
			background-color: #fff;
			text-decoration: none;
		}
	#tools {
		color: #073d69;
		font-size: 0.625rem; /* 10px */
		text-align: right;
		padding-right: 20px;
		padding-top: 10px;
		height: 30px;
		float: right;
	}
	[dir=rtl] #tools {
		float: left;
	}
		#tools a {
			color: #073d69;
			text-decoration: none;
			padding-left: 3px;
			padding-right: 3px;
		}
		#tools a:hover {
			color: #cbdae1;
			text-decoration: underline;
		}
		#tools a:active {
			color: #cbdae1;
			text-decoration: none;
		}
		#tools form {
			display: inline;
		}
			#tools span {
				font-family: var(--ww-font-monospace);
			}
			#tools input {
				margin-top: -12px;
				border: none;
			}
			#tools input.field {
				color: #cbdae1;
				font-size: 0.6875rem; /* 11px */
				background-color: #2a6792;
				padding: 1px;
				border: 1px solid #1a5581;
				width: 100px;
				height: 16px;
				cursor: text;
			}
			#tools input.field:hover {
				border: 1px solid #5083a6;
			}
	#sections {
		font-size: 0.75rem; /* 12px */
		text-align: right;
		margin-top: 5px;
		padding-right: 20px;
		height: 21px;
		float: right;
	}
	[dir=rtl] #sections {
		float: left;
	}
		#sections a {
			color: #ededed;
			font-weight: bold;
			text-decoration: none;
			margin-left: 5px;
			padding-left: 5px;
			padding-right: 5px;
			border-bottom: 3px none;
			background-color: #0c4d81;
		}
		#sections a:hover {
			color: #fff;
			text-decoration: none;
			border-bottom: 3px solid #b00202;
			background-color: #32759e;
		}
		#sections a:active {
			color: #fff;
			text-decoration: none;
			border-bottom: 3px solid #ff0000;
			background-color: #32759e;
		}
#shadow {
	height: 20px;
}
	#shadow div.bottom {
		margin-left: 20px;
		width: 153px;
		height: 20px;
	}

/*	Pop-up menus	*/

nav#menu {
	font-family: var(--ww-font-sans-serif);
	font-size: 0.6875rem; /* 11px */
	background-color: #fff;
	padding-bottom: 20px;

	/*visibility: hidden;*/
	/*position: absolute;
	overflow: hidden;
	z-index: 10;*/
}
	nav#menu a {
		color: #073d69;
		display: block;
		text-decoration: none;
		padding-left: 4px;
		padding-right: 4px;
	}
	nav#menu a:hover {
		color: #fff;
		background-color: #1a5581;
		text-decoration: none;
	}
	nav#menu span.text {
		display: block;
		padding-left: 4px;
		padding-right: 4px;
	}
	nav#menu a.bookmark {
		text-align: center;
	}
	nav#menu hr {
		background-color: #073d69;
		border: none;
		margin-top: 1px;
		margin-bottom: 1px;
		padding: 0;
		height: 1px;
	}
	nav#menu img {
		display: none;
	}
	nav#menu div.sub {
		padding: 1px;
	}
#toc {
	margin: 0;
	padding: 0;
	text-align: left;
}
#toc li {
	list-style: none;
}
#toc li ul {
	padding-left: 15px;
}
span.tocnumber {
	margin-right: 0.3rem;
}
	nav#menu ul,
	nav.menu ol {
		padding-left: 0;
		list-style: none;
	}
	nav#menu ul ul a,
	nav.menu ol ol a {
		padding-left: 15px;
	}
#menu {
	width: 22%;
	max-width: 180px; 
	float: right;
	/* position:fixed; */
	clear: both;
	top: 40px;
	left: 187px;

}
[dir=rtl] #menu {
	left: unset;
	float: left;
	right: 187px;
}
#user_menu {
	border-top: 1px solid #073d69;
	margin-top: -10px;
	width: 150px;
}

#menu .active {
	font-weight: bold;
}

.menu
{
	list-style: none outside none;
	float: right;
	margin: 0;
	padding: 0;
}

.menu li:first-child {
	border-left: 1px none;
}

.menu li {
	border-left: 1px dotted #ccc;
	float: left;
	line-height: 1.2rem;
	margin: 0 0.5em 0 -0.5rem;
	padding: 0 0.5rem;
	white-space: nowrap;
}

.menu li.active {
	/* background: none repeat scroll 0 0 #ccffcc; */
	font-weight: bold;
}

/*	Page layout	*/

#content {
	width: 78%;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	
}
[dir=rtl] #content {
	float: right;
}
#page {
	color: #333;
	font-family: var(--ww-font-sans-serif);
	font-size: 0.875rem; /* 14px */
	line-height: 18px;
	word-spacing: 3px;
/*	text-align: justify;*/
	white-space: normal;
	cursor: auto;
}



/*	Control tools layout	*/

#tabs {
	font-family: var(--ww-font-sans-serif);
	margin-top: 20px;
}
	div.owner {
		color: #b00202;
		font-size: 0.625rem; /* 10px */
		text-align: right;
		padding-right: 20px;
	}
		div.owner a {
			color: #b00202;
			text-decoration: underline;
		}
		div.owner a:hover {
			color: #b00202;
			text-decoration: none;
		}
		div.owner a:active {
			color: #b00202;
			text-decoration: none;
		}
	#tabs div.controls {
		font-size: 0.6875rem; /* 11px */
		font-weight: bold;
		background-color: #b00202;
		padding-left: 20px;
		padding-right: 20px;
		min-height: 2px;
	}
		#tabs div.controls span {
			color: #b00202;
			background-color: #fff;
			padding-left: 5px;
			padding-right: 5px;
		}
		#tabs div.controls a {
			color: #fff;
			background-color: #b00202;
			text-decoration: none;
			padding-left: 5px;
			padding-right: 5px;
		}
		#tabs div.controls a:hover {
			color: #fff;
			text-decoration: none;
			border-bottom: 3px solid #b00202;
		}
		#tabs div.controls a:active {
			color: #fff;
			text-decoration: none;
			border-bottom: 3px solid #ff0000;
		}

.pagination {
	float: right;
}


/*	Footer layout	*/

#footer {
	color: #666;
	background-color: #f0f4f5;
	border-top:1px dotted #ccc;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.625rem; /* 10px */
	text-align: center;
	padding: 20px;
	clear: both;
}
	#footer a {
		color: #666;
		text-decoration: underline;
	}
	#footer a:hover {
		color: #666;
		text-decoration: none;
	}
	#footer a:active {
		color: #666;
		text-decoration: none;
	}

/*	 Debugging information 		*/
.time {
	color: #999;
	font-size: 0.5625rem; /* 9px */
	margin: 5px 20px;
}

#debug {
	padding: 20px;
	}

.debug, 
#debug li, 
#debug pre {
	font-size: 0.6875rem; /* 11px */
	color: #888;
}

div#loginbox {
	font-family: var(--ww-font-monospace);
	color: #073d69;
	font-size: 0.75rem; /* 12px */
	background-color: #f0f4f5;
	width:500px;
	margin:50px auto;
	padding: 30px;
	border: 1px dotted #ccc;
}
/*	Version Check Specific	*/
.tickcross {
	vertical-align: middle;
}
.cross {
	background: url('../../image/cross.svg'), none no-repeat;
	background-size: 1.375rem;
	height: 1.375rem;
	width: 1.375rem;
}
.tick {
	background: url('../../image/tick.svg'), none no-repeat;
	background-size: 1.375rem;
	height: 1.375rem;
	width: 1.375rem;
}

/*	alternate row style	*/
.alternate {
	background-color: #f7fcfe;
}

.listcenter td {
	vertical-align:top;
	text-align:center;
}

.formation > tbody > tr:nth-of-type(2n+1),
.formation > tbody > th:nth-of-type(2n+1) {
	background-color: #f9f9f9;
}

a.button {
	text-decoration: none;
	color: initial;
}
a.cancel,
#page a.cancel:hover ,
a.cancel:active{
	text-decoration: none !important;
	border-bottom: 0 none!important;
}

.btn-approve {
	background: url("./../../image/user-approve.svg"), none no-repeat;
	background-size: 1rem;
	display: inline-block;
	height: 1rem;
	width: 1rem;
}
.btn-deny {
	background: url("./../../image/user-block.svg"), none no-repeat;
	background-size: 1rem;
	display: inline-block;
	height: 1rem;
	width: 1rem;
}

/* replaces inline CSS */
.t-center {
	text-align: center;
}
.t-right {
	text-align: right;
}
.t-left {
	text-align: left;
}
.a-top {
	vertical-align: top;
}
.a-middle {
	vertical-align: middle;
}
