
/*	Files/comments forms layout	*/


/*	Table of contents	*/

#toc {
	margin: 0;
	padding: 0;
	text-align: left;
}
#toc li {
	list-style: none;
	font-weight: bold;
}
#toc li ul {
	padding-left: 15px;
}
#toc li li {
	list-style: none;
	font-weight: normal;
}
span.tocnumber {
	margin-right: 0.3rem;
}
#content fieldset ul,
#content fieldset ol {
	padding-left: 20px;
}



/*	Document editing	*/

#content fieldset.preview {
	font-size: 0.875rem; /* 14px */
	line-height: 18px;
	padding: 10px;
	border: 2px dashed #babfc7;	
}
#content fieldset.preview legend {
	color: #babfc7;
	font-size: 0.75rem; /* 12px */
	font-weight: 600;
	margin-left: 0;
	padding: 5px 5px 5px 0;
	border: none;
}



/*	Specific look styles	*/

#path .missingpage {
	color: #c1c1c1;
	font-style: normal;
	border-bottom: 1px dashed #c1c1c1;
}
.page img,
fieldset.preview img {
	vertical-align: middle;
	padding-left: 3px;
	padding-right: 3px;
}
.missingpage {
	color: #999;
	font-style: italic;
	border-bottom: 1px dashed #cc0000;
}



/*	Wiki formatting	*/

.cite {
	color: #cc0000;
}
.cite a,
#content .cite a {
	color: #990000;
}
.cite a:hover,
#content .cite a:hover {
}
.cite a:active,
#content .cite a:active {
	color: #990000;
}

.cl-grey {
	color: #babfc7;
}
.cl-green {
	color: #00CCAA;
}
.cl-blue {
	color: #00AACC;
}

.email2 {
	color: #8EB1C4;
}
.email1 {
	color: #80A6BB;
}

mark {
	color: #990000;
	background-color: #FFCCCC;
	display: block;
	padding: 2px;
	margin: 5px;
}

table.usertable {
	border: 1px none;
	font-size: 0.75rem; /* 12px */
	width: auto;
	margin-top: 20px;
}
table.usertable th.userhead {
	color: #fff;
	font-weight: 600;
	background-color: #babfc7;
	text-align: center;
}
table.usertable td.usercell {
	background-color: #ededed;
	text-align: left;
}
table.usertable th.userhead,
table.usertable td.usercell {
	padding: 3px;
}

table.dtable th.userhead,
table.dtable td.usercell {
	padding-right: 5px;
	padding-bottom: 5px;
}

.indent {
	padding-left: 30px;
}

.action {
	padding: 5px;
	margin: 5px;
	border: 1px dashed #333;
}

.include {
	padding: 2px;
	border: 1px solid #eee;
}
.include .name {
	font-size: 0.6875rem; /* 11px */
	letter-spacing: 2px;
	text-align: right;
	background-color: #eee;
	padding: 2px;
}

/*	Diag	*/


.sqllog {
	position: relative;
	/*	display: inline-block;	*/
}

.sqllog .backtrace {
	visibility: hidden;
	width: 50%;
	background-color: #131313;
	color: #fff;
	border-radius: 6px;
	padding: 7px 7px 7px 7px;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: +30px;
	left: +100px;
}

.sqllog:hover {
	border: 1px solid #93cee9;
}

.sqllog:hover .backtrace {
	visibility: visible;
}

