/* X11Colors names */
.cl-indianred {color: #cd5c5c;}
.cl-lightcoral {color: #f08080;}
.cl-orangered {color: #ff4500;}
.cl-crimson {color: #dc143c;}
.cl-darkred {color: #8b0000;}
.cl-pink {color: #ffc0cb;}
.cl-hotpink {color: #ff69b4;}
.cl-palevioletred {color: #db7093;}
.cl-khaki {color: #f0e68c;}
.cl-lightgoldenrodyellow {color: #fafad2;}
.cl-lemonchiffon {color: #fffacd;}
.cl-gold {color: #ffd700;}
.cl-moccasin {color: #ffe4b5;}
.cl-cyan {color: #00ffff;}
.cl-aquamarine {color: #7fffd4;}
.cl-mediumturquoise {color: #48d1cc;}
.cl-cadetblue {color: #5f9ea0;}
.cl-lightcyan {color: #e0ffff;}
.cl-powderblue {color: #b0e0e6;}
.cl-steelblue {color: #4682b4;}
.cl-skyblue {color: #87ceeb;}
.cl-deepskyblue {color: #00bfff;}
.cl-royalblue {color: #4169e1;}
.cl-dodgerblue {color: #1e90ff;}
.cl-mediumblue {color: #0000cd;}
.cl-navy {color: #000080;}
.cl-lightsalmon {color: #ffa07a;}
.cl-darkorange {color: #ff8c00;}
.cl-tomato {color: #ff6347;}
.cl-aquamarine {color: #7fffd4;}
.cl-springgreen {color: #00ff7f;}
.cl-greenyellow {color: #adff2f;}
.cl-lawngreen {color: #7cfc00;}
.cl-lightgreen {color: #90ee90;}
.cl-limegreen {color: #32cd32;}
.cl-darkseagreen {color: #8fbc8f;}
.cl-seagreen {color: #2e8b57;}
.cl-olivedrab {color: #6b8e23;}
.cl-darkolivegreen {color: #556b2f;}
.cl-mediumaquamarine {color: #66cdaa;}
.cl-lightseagreen {color: #20b2aa;}
.cl-teal {color: #008080;}
.cl-thistle {color: #d8bfd8;}
.cl-violet {color: #ee82ee;}
.cl-magenta {color: #ff00ff;}
.cl-mediumorchid {color: #ba55d3;}
.cl-blueviolet {color: #8a2be2;}
.cl-mediumpurple {color: #9370db;}
.cl-purple {color: #800080;}
.cl-darkslateblue {color: #483d8b;}
.cl-honeydew {color: #f0fff0;}
.cl-azure {color: #f0ffff;}
.cl-ghostwhite {color: #f8f8ff;}
.cl-lavenderblush {color: #fff0f5;}
.cl-antiquewhite {color: #faebd7;}
.cl-snow {color: #fffafa;}
.cl-beige {color: #f5f5dc;}
.cl-oldlace {color: #fdf5e6;}
.cl-ivory {color: #fffff0;}
.cl-lightgrey {color: #d3d3d3;}
.cl-darkgray {color: #a9a9a9;}
.cl-dimgray {color: #696969;}
.cl-lightslategray {color: #778899;}
.cl-cornsilk {color: #fff8dc;}
.cl-bisque {color: #ffe4c4;}
.cl-wheat {color: #f5deb3;}
.cl-goldenrod {color: #daa520;}
.cl-peru {color: #cd853f;}
.cl-maroon {color: #800000;}
.cl-brown {color: #a52a2a;}
.cl-darkred {color: #8b0000;}
.cl-tan {color: #d2b48c;}
.cl-black {color: #000000;}
.cl-darksalmon {color: #e9967a;}
.cl-salmon {color: #fa8072;}
.cl-red {color: #ff0000;}
.cl-firebrick {color: #b22222;}
.cl-mediumvioletred {color: #c71585;}
.cl-lightpink {color: #ffb6c1;}
.cl-deeppink {color: #ff1493;}
.cl-darkkhaki {color: #bdb76b;}
.cl-palegoldenrod {color: #eee8aa;}
.cl-lightyellow {color: #ffffe0;}
.cl-yellow {color: #ffff00;}
.cl-papayawhip {color: #ffefd5;}
.cl-peachpuff {color: #ffdab9;}
.cl-aqua {color: #00ffff;}
.cl-turquoise {color: #40e0d0;}
.cl-darkturquoise {color: #00ced1;}
.cl-slategray {color: #708090;}
.cl-paleturquoise {color: #afeeee;}
.cl-lightsteelblue {color: #b0c4de;}
.cl-lightblue {color: #add8e6;}
.cl-lightskyblue {color: #87cefa;}
.cl-cornflowerblue {color: #6495ed;}
.cl-mediumslateblue {color: #7b68ee;}
.cl-blue {color: #0000ff;}
.cl-darkblue {color: #00008b;}
.cl-midnightblue {color: #191970;}
.cl-orange {color: #ffa500;}
.cl-coral {color: #ff7f50;}
.cl-orangered {color: #ff4500;}
.cl-mediumspringgreen {color: #00fa9a;}
.cl-palegreen {color: #98fb98;}
.cl-chartreuse {color: #7fff00;}
.cl-lime {color: #00ff00;}
.cl-yellowgreen {color: #9acd32;}
.cl-mediumseagreen {color: #3cb371;}
.cl-forestgreen {color: #228b22;}
.cl-green {color: #008000;}
.cl-olive {color: #808000;}
.cl-darkgreen {color: #006400;}
.cl-turquoise {color: #40e0d0;}
.cl-darkcyan {color: #008b8b;}
.cl-lavender {color: #e6e6fa;}
.cl-plum {color: #dda0dd;}
.cl-fuchsia {color: #ff00ff;}
.cl-orchid {color: #da70d6;}
.cl-darkorchid {color: #9932cc;}
.cl-darkviolet {color: #9400d3;}
.cl-slateblue {color: #6a5acd;}
.cl-darkmagenta {color: #8b008b;}
.cl-indigo {color: #4b0082;}
.cl-mintcream {color: #f5fffa;}
.cl-aliceblue {color: #f0f8ff;}
.cl-whitesmoke {color: #f5f5f5;}
.cl-mistyrose {color: #ffe4e1;}
.cl-seashell {color: #fff5ee;}
.cl-white {color: #ffffff;}
.cl-linen {color: #faf0e6;}
.cl-floralwhite {color: #fffaf0;}
.cl-gainsboro {color: #dcdcdc;}
.cl-silver {color: #c0c0c0;}
.cl-gray {color: #808080;}
.cl-darkslategray {color: #2f4f4f;}
.cl-slategray {color: #708090;}
.cl-blanchedalmond {color: #ffebcd;}
.cl-navajowhite {color: #ffdead;}
.cl-sandybrown {color: #f4a460;}
.cl-darkgoldenrod {color: #b8860b;}
.cl-chocolate {color: #d2691e;}
.cl-saddlebrown {color: #8b4513;}
.cl-sienna {color: #a0522d;}
.cl-burlywood {color: #deb887;}

.mark-indianred {background: #cd5c5c;}
.mark-lightcoral {background: #f08080;}
.mark-orangered {background: #ff4500;}
.mark-crimson {background: #dc143c;}
.mark-darkred {background: #8b0000;}
.mark-pink {background: #ffc0cb;}
.mark-hotpink {background: #ff69b4;}
.mark-palevioletred {background: #db7093;}
.mark-khaki {background: #f0e68c;}
.mark-lightgoldenrodyellow {background: #fafad2;}
.mark-lemonchiffon {background: #fffacd;}
.mark-gold {background: #ffd700;}
.mark-moccasin {background: #ffe4b5;}
.mark-cyan {background: #00ffff;}
.mark-aquamarine {background: #7fffd4;}
.mark-mediumturquoise {background: #48d1cc;}
.mark-cadetblue {background: #5f9ea0;}
.mark-lightcyan {background: #e0ffff;}
.mark-powderblue {background: #b0e0e6;}
.mark-steelblue {background: #4682b4;}
.mark-skyblue {background: #87ceeb;}
.mark-deepskyblue {background: #00bfff;}
.mark-royalblue {background: #4169e1;}
.mark-dodgerblue {background: #1e90ff;}
.mark-mediumblue {background: #0000cd;}
.mark-navy {background: #000080;}
.mark-lightsalmon {background: #ffa07a;}
.mark-darkorange {background: #ff8c00;}
.mark-tomato {background: #ff6347;}
.mark-aquamarine {background: #7fffd4;}
.mark-springgreen {background: #00ff7f;}
.mark-greenyellow {background: #adff2f;}
.mark-lawngreen {background: #7cfc00;}
.mark-lightgreen {background: #90ee90;}
.mark-limegreen {background: #32cd32;}
.mark-darkseagreen {background: #8fbc8f;}
.mark-seagreen {background: #2e8b57;}
.mark-olivedrab {background: #6b8e23;}
.mark-darkolivegreen {background: #556b2f;}
.mark-mediumaquamarine {background: #66cdaa;}
.mark-lightseagreen {background: #20b2aa;}
.mark-teal {background: #008080;}
.mark-thistle {background: #d8bfd8;}
.mark-violet {background: #ee82ee;}
.mark-magenta {background: #ff00ff;}
.mark-mediumorchid {background: #ba55d3;}
.mark-blueviolet {background: #8a2be2;}
.mark-mediumpurple {background: #9370db;}
.mark-purple {background: #800080;}
.mark-darkslateblue {background: #483d8b;}
.mark-honeydew {background: #f0fff0;}
.mark-azure {background: #f0ffff;}
.mark-ghostwhite {background: #f8f8ff;}
.mark-lavenderblush {background: #fff0f5;}
.mark-antiquewhite {background: #faebd7;}
.mark-snow {background: #fffafa;}
.mark-beige {background: #f5f5dc;}
.mark-oldlace {background: #fdf5e6;}
.mark-ivory {background: #fffff0;}
.mark-lightgrey {background: #d3d3d3;}
.mark-darkgray {background: #a9a9a9;}
.mark-dimgray {background: #696969;}
.mark-lightslategray {background: #778899;}
.mark-cornsilk {background: #fff8dc;}
.mark-bisque {background: #ffe4c4;}
.mark-wheat {background: #f5deb3;}
.mark-goldenrod {background: #daa520;}
.mark-peru {background: #cd853f;}
.mark-maroon {background: #800000;}
.mark-brown {background: #a52a2a;}
.mark-darkred {background: #8b0000;}
.mark-tan {background: #d2b48c;}
.mark-black {background: #000000;}
.mark-darksalmon {background: #e9967a;}
.mark-salmon {background: #fa8072;}
.mark-red {background: #ff0000;}
.mark-firebrick {background: #b22222;}
.mark-mediumvioletred {background: #c71585;}
.mark-lightpink {background: #ffb6c1;}
.mark-deeppink {background: #ff1493;}
.mark-darkkhaki {background: #bdb76b;}
.mark-palegoldenrod {background: #eee8aa;}
.mark-lightyellow {background: #ffffe0;}
.mark-yellow {background: #ffff00;}
.mark-papayawhip {background: #ffefd5;}
.mark-peachpuff {background: #ffdab9;}
.mark-aqua {background: #00ffff;}
.mark-turquoise {background: #40e0d0;}
.mark-darkturquoise {background: #00ced1;}
.mark-slategray {background: #708090;}
.mark-paleturquoise {background: #afeeee;}
.mark-lightsteelblue {background: #b0c4de;}
.mark-lightblue {background: #add8e6;}
.mark-lightskyblue {background: #87cefa;}
.mark-cornflowerblue {background: #6495ed;}
.mark-mediumslateblue {background: #7b68ee;}
.mark-blue {background: #0000ff;}
.mark-darkblue {background: #00008b;}
.mark-midnightblue {background: #191970;}
.mark-orange {background: #ffa500;}
.mark-coral {background: #ff7f50;}
.mark-orangered {background: #ff4500;}
.mark-mediumspringgreen {background: #00fa9a;}
.mark-palegreen {background: #98fb98;}
.mark-chartreuse {background: #7fff00;}
.mark-lime {background: #00ff00;}
.mark-yellowgreen {background: #9acd32;}
.mark-mediumseagreen {background: #3cb371;}
.mark-forestgreen {background: #228b22;}
.mark-green {background: #008000;}
.mark-olive {background: #808000;}
.mark-darkgreen {background: #006400;}
.mark-turquoise {background: #40e0d0;}
.mark-darkcyan {background: #008b8b;}
.mark-lavender {background: #e6e6fa;}
.mark-plum {background: #dda0dd;}
.mark-fuchsia {background: #ff00ff;}
.mark-orchid {background: #da70d6;}
.mark-darkorchid {background: #9932cc;}
.mark-darkviolet {background: #9400d3;}
.mark-slateblue {background: #6a5acd;}
.mark-darkmagenta {background: #8b008b;}
.mark-indigo {background: #4b0082;}
.mark-mintcream {background: #f5fffa;}
.mark-aliceblue {background: #f0f8ff;}
.mark-whitesmoke {background: #f5f5f5;}
.mark-mistyrose {background: #ffe4e1;}
.mark-seashell {background: #fff5ee;}
.mark-white {background: #ffffff;}
.mark-linen {background: #faf0e6;}
.mark-floralwhite {background: #fffaf0;}
.mark-gainsboro {background: #dcdcdc;}
.mark-silver {background: #c0c0c0;}
.mark-gray {background: #808080;}
.mark-darkslategray {background: #2f4f4f;}
.mark-slategray {background: #708090;}
.mark-blanchedalmond {background: #ffebcd;}
.mark-navajowhite {background: #ffdead;}
.mark-sandybrown {background: #f4a460;}
.mark-darkgoldenrod {background: #b8860b;}
.mark-chocolate {background: #d2691e;}
.mark-saddlebrown {background: #8b4513;}
.mark-sienna {background: #a0522d;}
.mark-burlywood {background: #deb887;}