TEXTAREA { font-size:100%; font-family: Georgia, Courier New; color:#222222;   line-height: 1.5em;  }
UL, OL { margin-bottom: 3px; }
LI { margin-bottom: 2px; }

img {border-width: 0px;	vertical-align: middle;	}

/* paddings headers */
FORM, H1, H2, H3, H4, H5 {
  margin: 0px;
  padding: 0px;
}
H1 { color:#20AA40; font-family: Verdana; padding-top:25px; padding-bottom:5px }
H2 { color:#000080; font-family: Verdana; font-size: 20px; padding-top:20px; padding-bottom:5px }
H3 { font-family: Verdana; font-size: 17px; padding-top:15px; padding-bottom:5px }
H4 { font-family: Arial;   font-size: 16px; padding-top:15px; padding-bottom:5px }
H5 { font-family: Arial;   font-size: 14px; padding-top:10px; padding-bottom:5px }

/* overrall design */
.header H1 { margin:0px; padding:0px; color:#000; font-family:Arial; font-size:15px }
#page { background:#ffffff; padding:10px 10px 50px 10px;  }

#credits {
  font-size: 11px;
  color: #AAAAAA;
  text-align: right;
  padding:25px 5px 5px 5px
}

/* fonts */
BODY, TD, P, LI, #page { font-family: Georgia, Verdana; font-size:95% }

cite {color:#888800;font-style:normal;}
.cite {color:#ff0000;font-style:normal;}

/* underline text: SYNTAX __text__ */
.underline { text-decoration:underline; }

.mark { border:1px solid #000; background: #ddd; }
.center { text-align: center; }
.indent { margin-left: 40px; }

.code { width:90%; line-height: 1.2em;}

/* for include */
.name { text-align: right; font-size: 60%; border-top:1px dotted #cccccc; border-bottom:1px dotted #cccccc }
.include { padding: 4px; }

.toc1 { margin-left:0px; padding-left:0px; font-weight:bold; list-style-type:none;  } 
.toc2 { margin-left:0px; padding-left:15px; list-style-type:none;  }
.toc3 { margin-left:0px; padding-left:30px; list-style-type:none;  }
.toc4 { margin-left:0px; padding-left:45px; list-style-type:none;  }
.toc5 { margin-left:0px; padding-left:60px; list-style-type:none;  }
.toc6 { margin-left:0px; padding-left:75px; list-style-type:none;  }

.Toc1 A, .Toc2 A, .Toc3 A, .Toc4 A, .Toc5 A, .Toc6 A
 { text-decoration:none; color:#000 }

/* Horizontal rule: SYNTAX ---- */
hr {
border-color:#CCCCCC;
border-style:solid none none;
border-width:1px 0 0;
}

.nobr {white-space: nowrap}

div.action           { margin:2px; background: #eeeeee }
div.action-content   { padding:10px 10px 25px 10px; }

.refnum {
	font-weight:	bold;
}