/* Patches for MS Internet Explorer 6
   */

/* -- Layout fixes ---------------------------------------------------------- */

div.nav-main div.search fieldset { position:relative; }
div.nav-main div.search fieldset button { position:absolute; top:-0.1em; right:1%; }

/* -- Typography fixes ------------------------------------------------------ */

tt, div.code, textarea.code, code, pre { font-family:monospace; font-size:1em; }

/* -- Floatbox fixes -------------------------------------------------------- */

div.floatbox div.inner ul,
div.floatbox div.inner ol
{
    margin-left:2.5em;
}


