@import "wacko.css";
@import "layout.css";
@import "fontdesign.css";

img {
	border-width: 0px;
	vertical-align: middle;
}

.userprofil {
	color: #444444;
	font-weight: bold;
	width:100px;
	white-space:nowrap;
	vertical-align: top;
	padding-right:20px;
}