@import "wacko.css";
@import "layout.css";
@import "fontdesign.css";

/* cellspacing */
table {
	border-collapse:collapse;
	border-spacing: 0;
	
}
/* cellpadding */
th, td {
	padding: 0px;
}
img {
	border-width: 0px;
	vertical-align: middle;
}

.userprofil {
	color: #444444;
	font-weight: bold;
	width:100px;
	white-space:nowrap;
	vertical-align: top;
	padding-right:20px;
}

.desc_rss_feed {
	float:right;
	margin-right:20px;
}

.highlight {
	background-color: #FFFEA1;
	font-style: normal;
	font-weight: bold;
}