@import "fontdesign.css";
@import "layout.css";

#tooltip {
background:#FFF;
border:1px solid #666;
color:#333;
font:menu;
margin:0;
padding:3px 5px;
position:absolute;
visibility:hidden;
}

.add {
color:#c00;
font-weight:700;
text-decoration:underline;
}

.additions {
color:#080;
}

.buttonsspacer {
height:1px;
width:10px;
}

.center {
text-align:center;
}

.cite {
color:red;
font-style:normal;
}

.cl-blue {
color:#00C;
}

.cl-green {
color:green;
}

.cl-red {
color:#C00;
}
.cl-yellow {color: #ffff00;}

.code {
background:#FFF;
border:solid #888 2px;
color:#000;
font-family:"Courier New", Courier, mono;
font-size:10pt;
padding:3px;
width:80%;
}

.commentform form {
width:100%;
}

.commentform form textarea {
padding:0;
width:100%;
}

.commentinfo,.credits a {
color:#AAA;
}

.credits {
color:#AAA;
font-size:11px;
text-align:right;
}

.del {
color:#c00;
font-style:italic;
text-decoration:line-through;
}

.deletions {
color:#800;
}

.edname-r {
background:#2A45D0;
}

.edname-s {
background:#D08C2A;
}

.edname-w {
background:#1E9905;
}

.edname-w,.edname-r,.edname-s {
border:3px solid #D4D0C8;
color:#fff;
font:bold 14px Arial;
padding:0 7px;
vertical-align:middle;
}

.email1,.email-odd {
color:maroon;
}

.email2,.email-even {
color:olive;
}

.error {
color:#C33;
font-weight:700;
}

.files,.comment {
background-color:#EEE;
border-bottom-color:#416bb8;
border-bottom-style:dotted;
border-bottom-width:thin;
padding:10px;
}

.filesform,.commentform {
background-color:#EEE;
padding:10px;
}

.filesheader,.commentsheader {
background-color:#F0F0F0;
padding:2px 10px;
}

.footer {
background-color:#DDD;
border:1px inset;
border-top:1px solid #CCC;
padding:5px 10px;
}

.header {
line-height:22px;
padding:0 10px 10px;
}

.hl-brackets {
color:#096;
}

.hl-builtin {
color:#963;
}

.hl-code {
color:#7f7f33;
}

.hl-comment {
color:#7F7F7F;
}

.hl-default,.hl-identifier {
color:#000;
}

.hl-gutter {
background-color:#CCC;
font-family:monospace;
font-size:13px;
padding-right:10px;
}

.hl-inlinedoc,.hl-special {
color:#00F;
}

.hl-main {
font-family:monospace;
font-size:13px;
}

.hl-number {
color:#007F00;
}

.hl-quotes {
color:#00007F;
}

.hl-reserved {
color:#7F007F;
}

.hl-string {
color:#7F0000;
}

.hl-table {
border:solid 1px #000;
}

.hl-var {
color:#06F;
}

.include {
background-color:#F0F0F0;
padding:8px;
}

.indent {
margin-left:40px;
}

.logbtn {
font-size:10px;
height:21px;
}

.main {
font-size:22px;
}

.mark {
background:#faa;
}

/* Highlighted text: SYNTAX ??(green)text?? */
.mark-yellow {background: #ffff00;}
.mark-green {background: #008000;}
.mark-blue {background: #0000ff;}
.mark-red {background: #ff0000;}

.micq1 {
font-weight:700;
padding:2px;
vertical-align:top;
}

.micq2 {
font:10px tahoma, arial;
padding:2px;
vertical-align:top;
}

.micq3 {
padding:2px;
vertical-align:top;
width:100%;
}

.missingpage {
border-bottom:1px dashed orange;
}

.name {
font-size:11px;
text-align:right;
}

.nobr {
white-space:nowrap;
}

.notes {
color:#880;
}

.outerlink {
color:#900;
}

.outerlink a:hover,.outerlink a:active {
background-color:#F66;
}

.page {
padding:9px 10px 10px;
}

.pagebefore {
border:1px inset;
border-bottom:none;
height:1px;
}

.pageedit {
background-color:#FFF;
border-bottom:none;
}

#pageedit form textarea {
	width: 100%;
	height: 400px;
}

.pleft .p- {
float:left;
padding:0 15px 0 0;
}

.pleft,.pleft .pbody- {
padding:0;
}

.pmark {
color:#ccc;
font:10px Arial;
}

.pmark a:hover,.pmark a:active {
color:#c30;
}

.pmark a:link,.pmark a:visited {
color:#ccc;
}

.preview {
border:red 2px solid;
margin:2px;
}

.preview legend {
color:red;
font-weight:700;
}

.pright .p- {
float:right;
padding:0 0 0 15px;
}

.print {
font-size:12px;
}

.revisioninfo {
color:#AAA;
padding-bottom:20px;
}

.searchbar {
background-color:#DDD;
font-family:Verdana;
font-size:13px;
line-height:1.3em;
}

.textarea {
height:400px;
width:100%;
}

.time {
color:#ccc;
font-family:Tahoma, Arial, Verdana;
font-size:9px;
}

.toc1 {
font-weight:700;
list-style-type:none;
margin-left:0;
padding-left:0;
}

.toc2 {
list-style-type:none;
margin-left:0;
padding-left:15px;
}

.toc3 {
list-style-type:none;
margin-left:0;
padding-left:30px;
}

.toc4 {
list-style-type:none;
margin-left:0;
padding-left:45px;
}

.toc5 {
list-style-type:none;
margin-left:0;
padding-left:60px;
}

.toc6 {
list-style-type:none;
margin-left:0;
padding-left:75px;
}


#buttons_1 {
	clear:none;
	float:left;
	padding:0 0 0 0;
}

#buttons_1 li {
	float:left;
	padding-right:0.3em;
	white-space:nowrap;
	list-style:none outside none;
}

.toolbar li {
	background: ButtonFace;
}

.toolbar .btn-,.toolbar .btn-hover,.toolbar .btn-active,.toolbar .btn-pressed {
background:ButtonFace;
border:1px solid ButtonFace;
color:ButtonText;
cursor:hand;
margin:0;
padding:1px;
}

.toolbar .btn-active,.toolbar .btn-pressed {
border-color:ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}

.toolbar .btn-hover {
border-color:ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}

.toolbar .btn-pressed {
background:ButtonHighlight;
}

.toolbar img {
height:20px;
width:20px;
}


a:link {
color:#933;
}

a:visited {
color:#936;
}

blockquote {
border-left:#ccc 3px solid;
color:#999;
padding:5px;
}

blockquote p {
margin:5px 0;
padding:0;
}

cite {
color:#880;
font-style:normal;
}

dfn {
border-bottom:1px dotted #000;
cursor:help;
font-style:normal;
font-variant:small-caps;
letter-spacing:0.1em;
}

div.action {
background:#eee;
margin:2px;
}

div.action-content {
padding:10px 10px 25px;
}

fieldset {
padding:10px;
}

form,h1,h2,h3,h4,h5,h6 {
margin:0;
padding:0;
}

h1 {
color:#41b841;
font-size:23px;
line-height:110%;
padding-bottom:7px;
padding-top:2px;
}

h2 {
border-bottom:1px #416bb8 solid;
color:#41b841;
font-family:Verdana;
font-size:20px;
margin-bottom:5px;
margin-top:20px;
}

h3 {
border-bottom:1px #416bb8 solid;
color:#41b841;
font-family:Verdana;
font-size:17px;
margin-bottom:5px;
margin-top:15px;
}

h4 {
border-bottom:1px #416bb8 solid;
color:#41b841;
font-family:Arial;
font-size:16px;
margin-bottom:5px;
margin-top:15px;
}

h5 {
border-bottom:1px #416bb8 solid;
color:#41b841;
font-family:Arial;
font-size:14px;
margin-bottom:5px;
margin-top:10px;
}

h6 {
color:#41b841;
font-family:Arial;
font-size:12px;
}

label {
cursor:hand;
}

p,td,li,select,textarea {
font-size:13px;
line-height:1.3em;
}

p.auto {
font-size:100%;
margin:0;
padding:0;
}

strike,s,strike a:visited,s a:link,strike a:visited,s a:visited {
color:#999;
}

table.dtable {
border:0 none;
border-collapse:collapse;
width:100%;
}

table.dtable tr td {
border-color:#999;
border-style:none;
border-width:0;
padding:4px;
vertical-align:top;
}

table.upload td {
padding:2px 5px;
vertical-align:bottom;
}

table.upload td.desc- {
color:#444;
font-size:80%;
width:100%;
}

table.upload td.dt- .dt2-,table.upload td.remove- .remove2-,table.upload td.size- .size2- {
color:#666;
font:11px Tahoma;
}

table.upload td.dt-,table.upload td.file- {
color:#000;
font-size:80%;
font-weight:700;
white-space:nowrap;
}

table.upload td.dt-,table.upload td.remove- {
padding-right:0;
}

table.upload td.remove- a.remove2-:hover,table.upload td.remove- a.remove2-:active,.hl-url,.hl-inlinetags {
color:red;
}

table.upload td.size- {
padding-right:0;
text-align:right;
}

table.usertable {
border:1px none;
border-collapse:collapse;
}

table.usertable tr td {
border:1px solid #416bb8;
padding:4px;
vertical-align:top;
}

tt {
background:#ffc;
color:#660;
padding:0 2px;
}

ul,ol {
margin-bottom:0;
margin-top:0;
padding-bottom:0;
padding-top:0;
}