/**
 * File content:
 * Includes all styles that forces the look of the whole page
 */

@import "wacko.css";

/* Hyperlinks */
a {
	background-color:	transparent;
	color:			#4a6188;/*#113c53;/*#a33;*/
	text-decoration:	none;
}
a:hover {
	color:			#113c53;
}
a:visited {
	color:			#6a92a9;
}

/* Specifies basic rules */
body {
	background-color:	#6c83b0;
	color:			#fff;
	font-family:		Verdana, "Bitstream Vera Sans", sans, sans-serif;
	font-size:		small;
	margin:			0 auto;
	padding:		0;
}

/* Forms: No space */
form {
	margin:			0;
	padding:		0;
}

/* Hide elements */
invisible {
	visibility:		hidden;
}

/* Images: No border for linked images */
img {
	border:			none;
	vertical-align: middle;
}

/* Paragraphs */
p {
	margin:			0;
	padding:		0;
}

/* Table content: Content is always aligned to top */
td, tr {
	vertical-align:		top;
}

/* Textareas */
textarea, input, select {
	border:			solid 1px #999;
	/*-moz-border-radius:	5px;		/* Mozilla only: Round etches */
}
textarea {
	font-family:		"Bitstream Vera Sans Mono", "Courier New", monospace;
	font-size:		0.9em;
}
/* Checkboxes fix (IE only) */
input checkbox {
	border:			1px solid #000;
}

/**
 * File content:
 * Includes all styles that forces the look of wacko-related parts
 * (I tried to categorize all classes)
 */

/** Styles for the main content in the page. *********************************/

/* Default settings */
#page {
	background-color:	#fff;
	color:			#000;
	line-height:		1.5em;
	padding-bottom:		15px;
	padding-left:		15px;
	padding-right:		15px;
	padding-top:		25px;
}

/* Space between buttons */
.buttonspacer {
	width:			10px;
	height:			1px;
}

/* Errors */
.error {
	color:			#c33;
	font-weight:		900;
}
.info {
	background: #F4FBFF;
	margin: 10px;
	padding: 10px 10px 10px 40px;
	border:1px solid #D5D9E6;
	color: #CC3333; font-weight: bold;
}
/* Debugging informations */
.time{ color:#CCCCCC; font-size: 9px; margin:5px 20px;}
.debug { font-size: 11px; color: 888888;}

/** Often used-related (belongs to too many codes) ***************************/

/* Missing page */
.missingpage {
	color:			#b00;
	font-style:		italic;
}



/* Monospaced code */
pre {
	font-family:		"Bitstream Vera Sans Mono", "Courier New", monospace;
}



/** Simple formating-related *************************************************/

/* Small text: SYNTAX ++text++ */
small {
	font-size:		0.85em;
}

sub {
	font-size:		0.85em;
	margin:			0 2px;
}

/* Footprints: SYNTAX [[#*]] */
sup {
	font-size:		0.85em;
	margin:			0 2px;
}
#page sup a {
	background-color:	transparent;
	border:			none;
	color:			#999;
}
#page sup a:hover {
	background-color:	transparent;
	border:			none;
	color:			#000;
}



/** Advanced formating and action-related ************************************/

/* Hyperlinks: SYNTAX ((HomePage)) */
#page a,
.preview a {
	text-decoration:	none;
}
#page a:hover,
.preview a:hover {
	text-decoration:	underline;
}

/* Code areas: SYNTAX %%code%% */
code {
	font-family:		"Bitstream Vera Sans Mono", "Courier New", monospace;
	font-size:		0.9em;
}


/* Fieldsets: SYNTAX {{toc}}, {{backlinks}} */
#page fieldset,
.preview fieldset {
	border:			1px solid #ccc;
	font-weight:		900;
	/*-moz-border-radius:	5px;		/* Mozilla, Firefox only */
}
#page fieldset a,
#page fieldset a:visited,
.preview fieldset a,
.preview fieldset a:visited {
	background-color:	transparent;
	text-decoration:	none;
	color:			#000;
	font-weight:		400;
}
#page fieldset a:hover,
.preview fieldset a:hover {
	text-decoration:	none;
}
/* Legend of the fieldset */
#page fieldset legend,
.preview fieldset legend {
	/*-moz-border-radius:	3px;		/* Mozilla, Firefox only */
}

/* Included pages: SYNTAX {{include file="xyz"}} */
.include {
	background-color:	#f9f9f9;
	color:			#000;
	border:			solid 1px #ccc;
}
.include .name {
	background-color:	#eee;
	color:			#000;
	font-size:		0.85em;
	padding:		0 10px;
}
.include .name a {
	border:			0;
}
.include .name a:hover {
	border:			0;
}

/* Outgoing hyperlinks: SYNTAX ((http://slashdot.org nerds)) */
#page .outerlink,
.preview .outerlink {
	text-decoration:	none;
}
#page .outerlink:hover,
.preview .outerlink:hover {
	text-decoration:	underlined;
}
#page .outerlink img,
.preview .outerlink img {
	vertical-align:		middle;
}

/** List-related *************************************************************/

/* SYNTAX "  *", "  1.", etc. */

/* Unordered list elements (this is a workaround of a bug inside Wacko) */
li {
	list-style-image:	url("../icons/list.gif"); /* Works not correct in IE */
}
/* Ordered list elements */
ol li {
	list-style-image:	none;
}

/** Edit-related *************************************************************/

#pageedit {
	margin-bottom:		10px;
	margin-left:		10px;
	margin-right:		25px;
	margin-top:		10px;
}
/* Buttons */
#pageedit input {
	border:			solid 1px #999;
	margin:			10px;
	/*-moz-border-radius:	3px;	/* Mozilla, Firefox only */
}
/* Textarea */
#pageedit .TextArea {
	padding:		2px;
}
#pageedit form textarea {width: 100%;height: 400px; }

/* Fieldset (preview) */
.preview {
	background-color:	#fafafa;
	border:			dashed 1px #999;
	/*-moz-border-radius:	5px;	/* Mozilla, Firefox only */
}
.preview p {
	font-weight:		900;
}



/** Wikiedit-related (JavaScript) ********************************************/


#buttons_1 {
	clear:none;
	float:left;
	padding:0 0 0 0;
}

#buttons_1 li {
	float:left;
	padding-right:0.3em;
	white-space:nowrap;
	list-style:none outside none;
}

.toolbar li {
	/*background: ButtonFace;
*/}
.toolbar .btn-, .toolbar  .btn-hover,  .toolbar .btn-active,  .toolbar .btn-pressed {
	background-color:	#eee;
	border:			1px solid #eee;
	color:			#000;
	cursor:			pointer;
	margin:			0px;
	padding:		1px;
}
.toolbar img {
	height:			20px;
	width:			20px;
}
.toolbar .btn-hover {
	border-color:		ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}
.toolbar .btn-active,  .toolbar .btn-pressed {
	border-color:		ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}
.toolbar .btn-pressed {
	background-color:ButtonHighlight;
	color:		#000;
}
.toolbar .btn-separator {
border-left:1px solid buttonshadow;
border-right:1px solid buttonhighlight;
height:18px;
margin:3px;
padding:0;
width:0;
}
.edname-w, .edname-r, .edname-s {
	background-color:	transparent;
	border:			3px solid #d4d0c8;
	color:			#fff;
	font:			bold 14px Arial, sans, sans-serif;
	padding:		0 7px;
	vertical-align:		middle;
}
.edname-w  {
	background-color:	#1e9905;
	color:			#000;
}
.edname-r  {
	background-color:	#2a45d0;
	color:			#000;
} 
.edname-s  {
	background-color:	#d08c2a;
	color:			#000;
}


/** File and comment-related *************************************************/

/* Headers (always visible) */
#commentsheader, #filesheader {
	background-color:	#ddd;
	/*border-top:		solid 1px #bbb;*/
	border-bottom:		none;
	border-left:		solid 1px #bbb;
	border-right:		solid 1px #bbb;
	border-top:		solid 1px #bbb;
	color:			#000;
	padding:		2px 5px;
}
/* Whole comment */
.comment {
	background-color:	#eee;
	border-top:		solid 1px #ccc;
	color:			#000;
	padding:		5px 15px;
}

.comment:target {
	border:2px solid #FF6600;
	padding:0.5em 0.5em 0.5em 25px;
}

/* Comment author and date */
.comment .commentinfo {
	background-color:	#eee;
	color:			#999;
	padding:		5px 0;
}
/* Change summary */
.editnote {
  color: #555555;
}
.review {
	font-weight:bold;
}
/* User input form for comments */
.commentform {
	background-color:	#eee;
	color:			#000;
	border-top:		solid 1px #ccc;
	padding:		15px 30px 5px 15px;
}
/* Texfield for a comment */
.commentform textfield {
	/* Sad but true, we don't have a chance to get rid of the annoying
	 * horizontal scrollbar in Internet Explorer.
         * Problem is the hardcoded phrase: <style=width:100%>
	 */

}
/* Button: "Attach comment" */
.commentform input {
	background-color:	#ddd;
	border:			solid 1px #999;
	color:			#000;
	margin:			5px;
	/*-moz-border-radius:	3px;		/* Mozilla, Firefox only */
}
/* Hyperlinks in header: "Show comments(files)/form" */
#filesheader a, #commentsheader a {
	background-color:	transparent;
	color:			#000;
}
/* Whole file area */
.files {
	background-color:	#eee;
	border-top:		solid 1px #ccc;
	color:			#000;
	padding:		5px 15px;
	width:			auto;
}
/* File description */
.files .desc- {
	border-bottom:		solid 1px #eee;
	padding-left:		3em;
}
/* File date */
.files .dt- {
	border-bottom:		solid 1px #eee;
	color:			#999;
	padding-top:		0.5em;
	white-space:		nowrap;
}
/* Filename */
.files .file- {
	border-bottom:		solid 1px #eee;
	white-space:		nowrap;
}
/* File hyperlinks */
.files .file- .outerlink {
	font-family:		"Bitstream Vera Sans Mono", "Courier New", monospace;
	font-weight:		900;
}
.files .file- .outerlink img {
	margin-right:		0.2em;
}
/* File size */
.files .size- {
	border-bottom:		dotted 1px #eee;
	font-size:		0.8em;
	padding-left:		2em;
	padding-right:		1em;
}
/* Alignment inside the files table */
.files td {
	vertical-align:		bottom;
}
/* Input form for attached files */
.filesform {
	background-color:	#eee;
	color:			#000;
	border-top:		solid 1px #ccc;
	padding:		15px 30px 5px 15px;	
}

/* CSS form formater */
.cssform p {
	width: 300px;
	clear: left;
	margin: 0;
	padding: 5px 0 8px 0;
	padding-left: 155px; /*width of left column containing the label elements*/
	border-top: 1px dashed gray;
	height: 1%;
}
.cssform label {
	font-weight: bold;
	float: left;
	margin-left: -155px; /*width of left column*/
	width: 150px; /*width of labels. Should be smaller than left column (155px) to create some right margin*/
}
.cssform input[type="text"] { /*width of text boxes. IE6 does not understand this attribute*/
	width: 180px;
}
.cssform textarea {
	width: 250px;
	height: 150px;
}
.cssform span.site_count {
	font-weight: normal;
	float: left;
	margin-left: -155px; /*width of left column*/
	width: 150px; /*width of labels. Should be smaller than left column (155px) to create some right margin*/
}
.BewareChangeLang{
	border: 1px solid #ffee66;
	width: 400px;
	background-color: #ffffdd;
	background-image: url(../../../images/warning.gif);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 10px 10px;
	margin: 10px;
	padding: 5px 5px 5px 40px;
}

/* cssform1 for actions */
#cssform1 {
	width:50%;
	padding:10px;
	margin:0 auto;
}
#cssform1 p {
	clear: left;
	margin: 0;
	padding: 5px 0 8px 0;
	padding-left: 20%; /*width of left column containing the label elements*/
	border-top: 1px dashed gray;
	height: 1%;
}
#cssform1 label {
	float: left;
	margin-left: 0px; /*
	margin-left: -155px; width of left column*/
	width: 150px;/* width of labels. Should be smaller than left column (155px) to create some right margin*/
}
#cssform1 input[type="text"] { /*width of text boxes. IE6 does not understand this attribute*/
	width: 180px;
}
#cssform1 textarea {
	width: 250px;
	height: 150px;
}
#cssform1 span.site_count {
	font-weight: normal;
	float: left;
	margin-left: 0px; /*
	margin-left: -155px; width of left column*/
	width: 150px; /*width of labels. Should be smaller than left column (155px) to create some right margin*/
}

/* feed action */
.feed {
    overflow:auto;
}
.feed .note {
     font-size: 11px;
     color: #777;
}
.feed .note a {
     color: #777;
}
.feed_element_title {
	/* We're going to add some space next to the titles so we can fit the 16x16 favicon image. */
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:0 1px;
	padding-left:20px;
}