@import "wacko.css";

body{ padding:0; margin:0; background:#eeeeee; line-height: 130%; }
img {
	border-width: 0;
	max-width: 100%;
	height:auto;
}
/* cellspacing */
table {
	border-collapse: collapse;
	border-spacing: 0;
	
}
/* cellpadding */
th,
td {
	padding: 0;
}

label {
	cursor: pointer;
}

/* Textareas */
textarea { font-size:100%; font-family: Georgia, Courier New; color:#222222;   line-height: 1.5em;  }
small { font-size:80% }

label {cursor:pointer; cursor:hand;}

dfn { font-variant: small-caps; letter-spacing: 0.1em; font-style: normal; cursor: help; border-bottom: 1px dotted #000; }


/* overrall design */
.Top { background:#ffffff; font-size:13px; color:#000000; padding:5px 5px 5px 5px; vertical-align:center; font-size:70% }
.TopLoggedOut { background:#ffcc66; font-size:13px; color:#000000; padding:5px 5px 5px 5px; vertical-align:center; font-size:70% }
.TopDiv { clear:all; height:1px; background:#000000; margin:0; padding:0 }
.TopDiv2 { clear:all; height:1px; background:#666666; margin:0; padding:0 }
.TopRight { float:right; text-align:right; padding:0px; }
.TopLeft { float:left; text-align:left; color:#444444 }
.Bookmarks { background:#002080; color:#b5b5ff; padding:2px; font-size:75% }

.Bookmarks a:LINK { font-weight: bold; color: #ffffff }
.Bookmarks a:VISITED { font-weight: bold; color: #b5ffb5 }
.Bookmarks a:HOVER { font-weight: bold; color: #ffb5b5 }

.Wrapper { margin: 20px 20px 20px 20px }
.header { color:#444444; }
.header .Main { color:#999999 }
.header h1 { margin:0px; padding:0px; color:#000000; font-family:Arial; font-size: 100% }
.Print { color:#999999; font-size:11px; float:right; margin-top: -6px;}

.Shade, #page { border-left: 1px solid #444444; border-right: 1px solid #444444; }

/* ??? */
.Shade {  clear:all; background:#ffffff;
	height:6px; border-top: 1px solid #444444; }
#page { background:#ffffff; padding:9px 10px 30px 10px; }
.TextArea { width:100%; height:450px; border: 3px ridge; }

.TabText { padding:1px 5px 1px 5px; font-size:12px; }
.TabSpace .TabText { padding:5px; }
.Tab2, .Tab  { float:left; background: #fefbe6;
	background-repeat:repeat-x; background-position:bottom;
	color:#666666; border-top:1px solid #444444 }
.TabSelected2, .TabSelected
	{ float:left; background: #ffffff;
	background-repeat:repeat-x; background-position:bottom;
	color:#666666 }
.Tab2a       { float:left; background: #ffcfa8;
	background-repeat:repeat-x; background-position:bottom;
	color:#666666; border-top:1px solid #444444 }
.TabSelected2a, .Tab2a, .TabSelected2, .Tab2         { float:right; }

.TabSpace { color:#666666; border-top:1px solid #444444; }

.OkBtn {
	background: none repeat scroll 0 0 #C9E3F2;
	color: #002000;
	height: 40px;
}
.OkBtn:hover {
	background: none repeat scroll 0 0 #FFF6BC;
	color: #002000;
	height: 40px;
}
.CancelBtn {
	background: none repeat scroll 0 0 #CCCCCC;
	color: #666666;
	font-size: 10px;
}
.CancelBtn:hover {
	background: none repeat scroll 0 0 #DDDDDD;
	color: #666666;
	font-size: 10px;
}
.OkBtn_Top {
	background: none repeat scroll 0 0 #C9E3F2;
	color: #002000;
}
.OkBtn_Top:hover {
	background: none repeat scroll 0 0 #FFF6BC;
	color: #002000;
}
.CancelBtn_Top {
	background: none repeat scroll 0 0 #CCCCCC;
	color: #666666;
	font-size: 10px;
}
.CancelBtn_Top:hover {
	background: none repeat scroll 0 0 #DDDDDD;
	color: #666666;
	font-size: 10px;
}

#credits {
	font-size: 11px;
	color: #AAAAAA;
	text-align: right;
	padding: 0 25px ;
}

#page-edit {
	padding-bottom: 10px;
}

/* fonts */
body, td, p, li, #page { font-family: Georgia, Verdana; font-size:95% }
.dt { font-family: Verdana; font-size:60% }

/* colors */
#page { color:#444444 }
del a:hover { color:#cc3300 }
del a.outerlink:LINK { color:#999999 }
del a.outerlink:VISITED { color:#999999 }
del a.outerlink:HOVER { color:#cc3300 }

.error { color: #CC3333; font-weight: bold; }
.info {
	background: #F4FBFF;
	/* margin: 10px; */
	padding: 10px 10px 10px 40px;
	border:1px solid ;
	border-top-color: #D5D9E6;
	border-bottom-color: #D5D9E6;
	border-right-color: #444444;
	border-left-color: #444444;
	color: #CC3333; font-weight: bold;
}

.time{ color:#999999; font-size: 9px; margin:5px 20px;}
.debug { font-size: 11px; color: #888888;}

#debug {
	padding: 0 20px 20px 20px;
	float: left;
}
.debug,
#debug li,
#debug pre {
	font-size: 11px;
	color: #888888;
	/* font-family:"Lucida Console","Courier New",monospace; */
}

#header-comments, #header-files, #header-rating {
	background-color: #eeeeee;
	padding: 2px 50px;
}

.comment, .files {
	background-color: #EEEEEE;
	padding: 10px 50px;
	border-top: 1px solid #CCCCCC;
}

.comment:target {
	border:2px solid #FF6600;
	padding:0.5em 0.5em 0.5em 25px;
}

.comment:hover {
	background-color: #E7F9FF;
}

/* comments and files actions (only visible on hover) */
.comment-tools,
.file-tools {
	visibility: hidden;
}

.comment:hover .comment-tools,
.upload tr:hover .file-tools {
	visibility: visible;
}

/* Comment author and date */
.comment-info {
	color: #AAAAAA;
	padding-bottom: 20px;
	float: right;
	list-style-type: none;
}

.comment-tools img {
	float: right;
	padding: 2px;
}

li.comment {
	overflow: hidden;
}
ol#comments {
	list-style: none outside none;
	margin: 10px 0 0;
	padding: 0;
}

.comment-info li {
	border: medium none;
	margin: 0;
	padding: 0;
	width: 320px;
}

.comment-tool,
.comment-tool a {
	color: #7f919e;
}
.comment-tool li {
	border: medium none;
	padding: 0;
	float: left;
	font-size: 13px;
	line-height: 15px;
	list-style-type: none;
	margin: 0 7px 0 0;
}

.vote-down {
	border-color: rgba(0, 39, 59, 0.08);
	border-left: 2px solid rgba(0, 39, 59, 0.08);
	padding-left: 6px;
	padding-right: 0;
}

.comment-text,
.comment-tool {
	float: left;
}

.comment-text p {
	width: 800px;
}

.comment-title h2 {
	font-size: 13px;
	line-height: 22px;
	font-weight: bold;
	margin: 0;
	border: none;
}

.comment-preview {
	width: 800px;
}

/* Change summary */
.editnote {
	color: #555555;
}

.review {
	font-weight: bold;
}
.commentform, 
.filesform {
	background-color: #EEEEEE;
	padding: 10px 50px;
	border-top: 1px solid #CCCCCC;
	width: 100%;
}

.commentform form {
	width: 100%;
}

.commentform form textarea {
	width: 100%;
	height: auto;
	padding: 0;
}

/* for include */
.name { text-align: right; font-size: 10px; }
.include { background-color: #f8f8f8; padding: 8px; }

fieldset { padding: 10px; }
.missingpage { border-bottom: 1px dashed orange; }

/* anchors */
a:link { color: #0020cc; }
a:visited { color: #8020cc; }
a:hover { color:#cc3300 }
a:active { color:#ff0000; }
a.denied:link, a.denied:visited { color: #666666; }
a.denied:hover { color:#cc3300 }

#credits a:link, #credits a:visited { color: #AAAAAA; }
#credits a:hover { color:#cc3300 }

.outerlink:link, .outerlink:visited { font-size:90%; font-family:Verdana; color:#000080 }
.outerlink:hover { color:#cc3300 }

.Top a, .Top a:visited { font-weight:bold; color:#336699 }
.Tune a, .Tune a:visited { font-weight:normal; color:#336699 }
.Top a:hover, .Tune a:hover { color:#cc3300 }

.Print a:visited, .TopRight a:link { font-weight:normal; color:#0000ff }
.TopRight a:visited { font-weight:normal; color:#800080 }
.TopRight a:hover { color:#cc3300 }

.Tab2a a:visited, .Tab2 a:visited, .Tab a:visited,
.Tab2a a, .Tab2 a, .Tab a { color:#0000ff; text-decoration:none }
.Tab2a a:hover, .Tab2 a:hover, .Tab a:hover { color:#cc3300; text-decoration:underline }

a.Search:link, a.Search:visited { color:#0000ff }
a.Search:hover { color:#cc3300 }

#header-comments a:link, #header-comments a:visited { color:#0000ff }
#header-comments a:hover { color:#cc3300 }


.upload td { padding: 2px 5px 2px 5px; vertical-align:top }
.upload td.dt-,
.upload td.file- { white-space:nowrap; font-size: 80%; font-weight:bold; color:#000000 }
.upload td.dt-   { padding-right:0 }
.upload td.tool-   { padding-right:0 }
.upload td.size- { padding-right:0; text-align:right }
.upload td.desc- { font-size: 80%; color:#444444; width:100% }
.upload td.dt- .dt2-,
.upload td.tool- .tool2-,
.upload td.size- .size2- { font: 11px Tahoma; color:#666666;  }
.upload td.tool- a.tool2-:HOVER,
.upload td.tool- a.tool2-:ACTIVE { color:#ff0000 }

.preview {margin-top: .8em; margin-left: 2px; margin-bottom: 2px; margin-right: 2px; padding: 10px; border:red 2px solid;}
p.preview {color:red; font-weight:bold; margin: -1.5em 0 10px 0; padding: 0; border: 0;}
.preview p span {background:#FFF; padding:0 1px;}

.layout-box {margin-top: .8em; margin-left: 2px; margin-bottom: 2px; margin-right: 2px; padding: 10px; border:#CCCCCC 1px solid;}
p.layout-box {background: transparent; margin: -1.5em 0 10px 0; padding: 0; border: 0;}
p.layout-box span {background:#FFF; padding:0 1px;}

.buttonsspacer{width:100px;height:1px;}

/** Wikiedit-related (JavaScript) ********************************************/
	/* WikiEdit Toolbar -------------------------------------- */

#buttons_1 {
	clear: none;
	float: left;
	padding: 0 0 0 0;
}
ul#buttons_1 {
	margin-bottom: 0;
}
#buttons_1 li {
	float:left;
	padding-right:0.3em;
	white-space:nowrap;
	list-style:none outside none;
	margin-bottom: 0;
}

.toolbar li {
	background: ButtonFace;
}

.toolbar .btn-, 
.toolbar .btn-hover, 
.toolbar .btn-active, 
.toolbar .btn-pressed {
	background: ButtonFace;
	color: ButtonText;
	border: 1px solid ButtonFace;
	padding: 1px;
	margin: 0;
	cursor: pointer;
}
.toolbar img {
	width: 20px;
	height: 20px;
}
.toolbar .btn-hover {
	border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}

.toolbar .btn-active, .toolbar .btn-pressed {
	border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}

.toolbar .btn-pressed {
	background: ButtonHighlight;
}

.toolbar .btn-separator {
	border-left: 1px solid buttonshadow;
	border-right: 1px solid buttonhighlight;
	height: 20px;
	margin: 3px;
	padding: 0;
	width: 0;
}

.toolbar img, 
.toolbar a img, 
.toolbar span img {
	border: medium none;
	height: 22px;
	width: 22px;
}
.toolbar li img {
	background-size: 22px 22px;
}
.toolbar li.we-h1 img {
	background: url('../../../image/wikiedit/h1.svg') no-repeat;
}
.toolbar li.we-h2 img {
	background: url('../../../image/wikiedit/h2.svg') no-repeat;
}
.toolbar li.we-h3 img {
	background: url('../../../image/wikiedit/h3.svg') no-repeat;
}
.toolbar li.we-h4 img {
	background: url('../../../image/wikiedit/h4.svg') no-repeat;
}
.toolbar li.we-h5 img {
	background: url('../../../image/wikiedit/h5.svg') no-repeat;
}
.toolbar li.we-h6 img {
	background: url('../../../image/wikiedit/h6.svg') no-repeat;
}
.toolbar li.we-bold img {
	background: url('../../../image/wikiedit/bold.svg') no-repeat;
}
.toolbar li.we-italic img {
	background: url('../../../image/wikiedit/italic.svg') no-repeat;
}
.toolbar li.we-underline img {
	background: url('../../../image/wikiedit/underline.svg') no-repeat;
}
.toolbar li.we-strike img {
	background: url('../../../image/wikiedit/strike.svg') no-repeat;
}
.toolbar li.we-superscript img {
	background: url('../../../image/wikiedit/superscript.svg') no-repeat;
}
.toolbar li.we-subscript img {
	background: url('../../../image/wikiedit/subscript.svg') no-repeat;
}
.toolbar li.we-ul img {
	background: url('../../../image/wikiedit/ul.svg') no-repeat;
}
.toolbar li.we-ol img {
	background: url('../../../image/wikiedit/ol.svg') no-repeat;
}
.toolbar li.we-center img {
	background: url('../../../image/wikiedit/center.svg') no-repeat;
}
.toolbar li.we-justify img {
	background: url('../../../image/wikiedit/justify.svg') no-repeat;
}
.toolbar li.we-right img {
	background: url('../../../image/wikiedit/right.svg') no-repeat;
}
.toolbar li.we-outdent img {
	background: url('../../../image/wikiedit/outdent.svg') no-repeat;
}
.toolbar li.we-indent img {
	background: url('../../../image/wikiedit/indent.svg') no-repeat;
}
.toolbar li.we-hr img {
	background: url('../../../image/wikiedit/hr.svg') no-repeat;
}
.toolbar li.we-signature img {
	background: url('../../../image/wikiedit/signature.svg') no-repeat;
}
.toolbar li.we-quote img {
	background: url('../../../image/wikiedit/quote.svg') no-repeat;
}
.toolbar li.we-source img {
	background: url('../../../image/wikiedit/source.svg') no-repeat;
}
.toolbar li.we-code img {
	background: url('../../../image/wikiedit/code.svg') no-repeat;
}
.toolbar li.we-createlink img {
	background: url('../../../image/wikiedit/link.svg') no-repeat;
}
.toolbar li.we-createtable img {
	background: url('../../../image/wikiedit/table.svg') no-repeat;
}
.toolbar li.we-textred img {
	background: url('../../../image/wikiedit/textcolor.svg') no-repeat;
}
.toolbar li.we-highlightcolor img {
	background: url('../../../image/wikiedit/highlightcolor.svg') no-repeat;
}
.toolbar li.we-help img {
	background: url('../../../image/wikiedit/help.svg') no-repeat;
}

.edname-w,
.edname-r,
.edname-s {
	font: bold 14px Arial;
	border: 3px solid #D4D0C8;
	padding: 0 7px;
	color: #ffffff;
	vertical-align: middle;
}

.edname-w {
	background: #1E9905;
}

.edname-r {
	background: #2A45D0;
}

.edname-s {
	background: #D08C2A;
}

.autocomplete-inplace {
	background: ButtonFace;
	border: 1px solid ButtonShadow;
	padding: 2px;
	font: 12px Arial;
}

.autocomplete-inplace div {
	padding: 2px 5px;
	cursor: pointer;
}

.autocomplete-inplace div.ac-over- {
	color: #ffffff;
	background: #1E9905;
}

/* ------------------------------- */


/* CSS form formater */
.cssform p {
	width: 300px;
	clear: left;
	margin: 0;
	padding: 5px 0 8px 0;
	padding-left: 155px; /*width of left column containing the label elements*/
	border-top: 1px dashed gray;
	height: 1%;
}

.cssform label {
	font-weight: bold;
	float: left;
	margin-left: -155px; /*width of left column*/
	width: 150px; /*width of labels. Should be smaller than left column (155px) to create some right margin*/
}
.cssform input[type="text"] { /*width of text boxes. IE6 does not understand this attribute*/
	width: 180px;
}

.cssform textarea {
	width: 250px;
	height: 150px;
}

.hint{
	border: 1px solid #ffee66;
	width: 400px;
	background-color: #ffffdd;
	background-image: url(../../../image/warning.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 10px 10px;
	margin: 10px;
	padding: 5px 5px 5px 40px;
}

/* cssform1 for actions */
#cssform1 {
	width:50%;
	padding:10px;
	margin:0 auto;
}

#cssform1 p {
	clear: left;
	margin: 0;
	padding: 5px 0 8px 0;
	padding-left: 20%; /*width of left column containing the label elements*/
	border-top: 1px dashed gray;
	height: 1%;
}

#cssform1 label {
	float: left;
	margin-left: 0; /*
	margin-left: -155px; width of left column*/
	width: 150px;/* width of labels. Should be smaller than left column (155px) to create some right margin*/
}
#cssform1 input[type="text"] { /*width of text boxes. IE6 does not understand this attribute*/
	width: 180px;
}
#cssform1 textarea {
	width: 250px;
	height: 150px;
}

/* feed action */
.feed {
	overflow: auto;
}

.feed .note {
	font-size: 11px;
	color: #777;
}

.feed .note a {
	color: #777;
}

.feed .note span {
	border-bottom: 1px dotted;
}

.feed-element-title {
	/* We're going to add some space next to the titles so we can fit the 16x16 favicon image. */
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:0 1px;
	padding-left:20px;
}

/*Handlers --------------------------------------------------*/

/* menu */

#menu-user {
	margin: 0 auto 0;
	overflow: hidden;
	float: left;
	text-align: left;
	position: relative;
}

#menu-user ol,
#menu-user ol ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu-user li:first-child {
	border-left: 1px none;
	padding: 1px 6px 4px 0;
}

#menu-user li {
	border-left: 1px dotted #aaa;
	float: left;
	font-size: 100%;
	/*line-height: 1.2em;
	*/margin: 0 .5em 0 -.5em;
	padding: 0 .5em 0 .5em;
	white-space: nowrap;
}

#menu-user ol ul li {
	border-left: 0;
}

#menu-user li:first-child.active {
	margin-left: -6px;
	padding-left: 6px;
}

#menu-user li.active {
	font-weight: 600;
	background: #439ce8 linear-gradient(to bottom, #43ace8, #4383e8) repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

#menu-user li a {
	display: inline;
	border: none;
	text-decoration: none;
}

#menu-user li a:visited {
	/*color: #003399;
*/}

#menu-user li a:hover {
	/*color: #B90022;
	*/text-decoration: underline;
}

#menu-user li a:active {
	color: #FF0000;
}

.userprofile {
	color: #444444;
	font-weight: bold;
	width:100px;
	white-space:nowrap;
	vertical-align: top;
	padding-right:20px;
}

.desc-rss-feed {
	float:right;
	margin-right:20px;
}

.highlight {
	background-color: #FFFEA1;
	font-style: normal;
	font-weight: bold;
}

#search-results li:hover {
	background-color: #E7F9FF; /* #CCFFCC */
}

#search-results li {
	margin: 1em 0;
}

#search-results li div {
	/*padding-left: 20px;*/
}

#search-results h3 {
	font-size: 14px;
	border-bottom: 0 none;
}

/* lists */
.ul-list,
.revisions {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.ul-list ul {
	list-style-type: none;
	padding-left: 20px;
}

.ul-letters {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.ul-letters ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.ul-letters li {
	float: left;
	line-height: 1.2em;
	margin: 0 0.5em 0 -0.5em;
	padding: 0 0.5em;
	white-space: nowrap;
}

.pagination {
	float: right;
}

.ul-list, .revisions {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.ul-list ul {
	list-style-type: none;
	padding-left: 20px;
}

/* infoboxes -----------------------------------------*/
.nb td,
.fyi td,
.inf td {
	padding: 5px;
	height: 50px;
}
.nb .text,
.fyi .text,
.inf .text {
	padding-left: 20px;
	border-top: none;
	border-bottom: none;
}
.nb .sign,
.fyi .sign,
.inf .sign {
	font-weight: 700;
	font-size: 50px;
	text-align: center;
	width: 20px;
	border: none;
	border-right: 1px solid;
}
.nb .sign {
	color: #CC0000;
	font-family: Arial, Helvetica, sans-serif;
}
.nb .sign,
.nb .text {
	border-color: #CC0000;
}
.fyi .sign {
	color: #00AACC;
	font-family: "Times New Roman", Times, serif;
}
.fyi .sign,
.fyi .text {
	border-color: #00AACC;
}
.inf .sign {
	color: #BABFC7;
	font-family: "Times New Roman", Times, serif;
}
.inf .text {
	color: #6A7387;
}
.inf .sign,
.inf .text {
	border-color: #BABFC7;
}

/* revisions */
.rev-version {
	display: inline-block;
	width: 40px;
}

.rev-size {
	display: inline-block; 
	width: 130px;
}

.diff-zero {
	background-color: #eee;
	color: #777;
	font-style: italic;
}

.diff-pos {
	background-color: #efe;
	color: #008800;
}

.diff-neg {
	background-color: #fee;
	color: #c00;
	font-style: italic;
}

/* menus -----------------------------------------*/

#menu-global {
	float: right;
	margin: 4px 30px 0 0;
}

#menu-global ol {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
#menu-global li {
	display: inline-block;
	font-size: smaller;
	font-weight: bold;
	padding: 0 5px;
}
#menu-global a {
	border: medium none;
	color: #babdb6;
	display: inline;
	padding: 0;
	text-decoration: none;
}
#menu-global a:link {
	color: #babdb6;
}
#menu-global a:visited {
	color: #babdb6;
}
#menu-global a:hover {
	color: #b90022;
	text-decoration: underline;
}

#page-handler {
	/* clear:both; */
	float: right;
	margin: 0 auto;
	text-align: left;
	z-index: 1000;
	position: relative;
}
#page-handler ul {
	list-style: none outside none;
	float: right;
	position: relative;
	margin: 0;
	padding: 0;
}

#menu-user ol li,
#page-handler ul li {
	display: block;
	float: left;
	position: relative;
	margin: 0;
	padding: 1px 6px 4px;
	white-space: nowrap;
}

#menu-user ol li a,
#page-handler ul li a {
	display:block;
}

#page-handler li.search{
	padding-bottom: 0;
}

#page-handler li:hover {
	/* background-color: #FFFFFF; */
}

#page-handler li.active {
	border: 1px solid #AAAAAA;
	border-bottom-width: 0;
	background-color: #FCFCFC;
}

#page-handler ul ul li.active {
	border: 1px solid #AAAAAA;
	border-right-color: #CCCCCC;
	border-bottom: 0 #CCCCCC;
	background-color: #FCFCFC;
}

/* submenu items */
#menu-user ol ul, 
#page-handler ul ul {
	display: none; /* Sub menus are hidden by default */
	position: absolute;
	background: none repeat scroll 0 0 white;
	padding-top: 4px !important;
	left: -1px;
	right: auto;
	width: auto;
	border: 1px solid #CCCCCC;
	border-top-width: 0;

}
#menu-user ol ul a,
#page-handler ul ul a {
	background: none repeat scroll 0 0 transparent;
}

.dropdown-arrow {
	font-size: 85%;
	text-decoration: none;
}

#menu-user ol ul li,
#page-handler ul ul li {
	left:auto;  /*resets the left: on the parent li */
	margin:0; /* Reset the 1px margin from the top menu */
	clear:left;
	width:100%;
	padding: 0 20px 0 0;
	white-space: nowrap;
	vertical-align: baseline;
}

#menu-user ol ul li.active,
#page-handler ul ul li.active {
	padding: 0;
}

#menu-user ol ul li a,
#menu-user ol li.active li a,
#menu-user ol li:hover ul li a,
#menu-user ol ul li.active span,
#page-handler ul ul li a,
#page-handler ul li.active li a,
#page-handler ul li:hover ul li a,
#page-handler ul ul li span {
	background: none repeat scroll 0 0 transparent;
	display: block;
	float: left;
	font-weight: normal;
	line-height: 1.4em;
	width: 100%;
	margin: 0;
	padding: 0.25em 20px 0.2em 0.5em;
}

#page-handler ul ul li.active {
	margin-left: -1px;
}

/* make the sub menus appear on hover */
#menu-user ol li:hover ul,
#page-handler ul li:hover ul {
	display: block; /* Show the sub menus */
	z-index: 20;
}
	
#page-handler #more-icon {
}

.page-handler{
	list-style: none;
}

.page-handler img,
.page-handler a img,
#page-handler img,
#page-handler a img,
#page-handler span img {
	border: medium none;
	height: 16px;
	width: 16px;
}

.page-handler img {
	padding: 2px 5px 2px 0;
}

li.m-new img {
	background: url('./../icon/page-add.svg') no-repeat;
}
li.m-categories img {
	background: url('./../icon/tag.svg') no-repeat;
}
li.m-attachments img {
	background: url('./../icon/attachment.svg') no-repeat;
}
li.m-upload img {
	background: url('./../icon/upload.svg') no-repeat;
}
li.m-clone img {
	background: url('./../icon/copy.svg') no-repeat;
}
li.m-edit img {
	background: url('./../icon/edit.svg') no-repeat;
}
li.m-referrers img {
	background: url('./../icon/link.svg') no-repeat;
}
li.m-revisions img {
	background: url('./../icon/revisions.svg') no-repeat;
}
li.m-remove img {
	background: url('./../icon/page-delete.svg') no-repeat;
}
li.m-purge img {
	background: url('./../icon/purge.svg') no-repeat;
}
li.m-rename img {
	background: url('./../icon/edit.svg') no-repeat;
}
li.m-properties img {
	background: url('./../icon/properties.svg') no-repeat;
}
li.m-permissions img {
	background: url('./../icon/permission.svg') no-repeat;
}
li.m-show img {
	background: url('./../icon/show.svg') no-repeat;
}
li.m-moderate img {
	background: url('./../icon/comment.svg') no-repeat;
}
li.m-print img {
	background: url('./../icon/print.svg') no-repeat;
}
li.m-xml img {
	background: url('./../icon/xml.svg') no-repeat;
}
li.m-word img {
	background: url('./../icon/document.svg') no-repeat;
}
li.m-source img {
	background: url('./../icon/text.svg') no-repeat;
}

.desc-rss-feed {
	float: right;
	margin-right: 20px;
}

.review1 img,
.review2 img,
.watch-off img,
.watch-on img {
	border: medium none;
	height: 16px;
	width: 16px;
}
.watch-off img {
	background: url('./../icon/watch-off.svg') no-repeat;
}
.watch-on img {
	background: url('./../icon/watch-on.svg') no-repeat;
}

.review1 img {
	background: url('./../icon/review1.svg') no-repeat;
}
.review2 img {
	background: url('./../icon/review2.svg') no-repeat;
}

.btn-reload {
	background: url('./../icon/reload.svg') no-repeat;
	background-size: 22px 22px;
	height: 22px;
	width: 22px;
	display: inline-block;
}
.btn-menu {
	background: url('./../icon/menu.svg') no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.btn-addbookmark {
	background: url('./../icon/bookmark.svg') no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.btn-removebookmark {
	background: url('./../icon/bookmark-remove.svg') no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.btn-delete {
	background: url('./../icon/delete.svg') no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.btn-edit {
	background: url('./../icon/edit.svg') no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.btn-feed {
	background: url('./../icon/feed.svg') no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.btn-info {
	background: url('./../icon/dialog-info.svg') no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.btn-tick {
	background: url('./../icon/tick.svg') no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.btn-warning {
	background: url('./../icon/warning.svg') no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.btn-add-page {
	background: url('./../icon/page-add.svg') no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.btn-page {
	background: url('./../icon/show.svg') no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.btn-comment {
	background: url('./../icon/comment.svg') no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.btn-attachment {
	background: url('./../icon/attachment.svg') no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.btn-upload {
	background: url('./../icon/upload.svg') no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.btn-unlocked {
	background: url('./../icon/unlocked.svg') no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.btn-locked {
	background: url('./../icon/locked.svg') no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.btn-search {
	background: url('./../icon/search.svg') no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.btn-tag {
	background: url('./../icon/tag.svg') no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.btn-revisions {
	background: url('./../icon/revisions.svg') no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	display: inline-block;
}

.viewed {
	font-weight: 600;
}

.list-count {
	text-align: right; 
	width: 30px; 
	float: left; 
	padding-right: 10px;
}

.userprofile {
	border-spacing: 3px; 
	border-collapse: separate;
}

.userprofile th{
	color: #444444;
	font-weight: bold;
	width: 100px;
	white-space: nowrap;
	vertical-align: top;
	padding-right: 20px;
	text-align: left;
}

ul.upload,
ul.upload ul {
	list-style-type: none;
	padding: 0;
}

.upload li {
	display: block;
	overflow: hidden;
	padding-bottom: 5px;
	text-align: left;
}

.info-title {
	display: block;
	float: left;
	text-align: left;
	width: 130px;
}

/* properties */
.lined td, .lined th {
	border-bottom: 1px dotted #BABFC7;
}

.lined:hover {
	background: #CCFFCC;
}

.page-settings {
	float: left;
}
.page-tools {
	float: right;
	padding: 0 40px 10px 10px;
	
}

.menu
{
	list-style:none outside none;
	float:right;
	margin:0;
	padding:0;
}

.menu li {
	border-left:1px dotted #CCCCCC;
	float:left;
	line-height:1.2em;
	margin:0 0.5em 0 -0.5em;
	padding:0 0.5em;
	white-space:nowrap;
}

/* authors action ------------- */
.license-CC-BY {
	background-image:	url('../../../image/cc-by.svg');
	background-repeat:	no-repeat;
	background-position:	0;
	height:	22px;
	width:	22px;
}
.license-CC-ZERO {
	background-image:	url('../../../image/cc-zero.svg');
	background-repeat:	no-repeat;
	background-position:	0;
	height:	22px;
	width:	22px;
}
.license-PD {
	background-image:	url('../../../image/cc-pd.svg');
	background-repeat:	no-repeat;
	background-position:	0;
	height:	22px;
	width:	22px;
}
.license-CC-BY-SA {
	background-image:	url('../../../image/cc-by.svg'),
						url('../../../image/cc-sa.svg');
	background-repeat:	no-repeat,
						no-repeat;
	background-position:	0,
							22px;
	height:	22px;
	width:	44px;
}
.license-CC-BY-ND {
	background-image:	url('../../../image/cc-by.svg'),
						url('../../../image/cc-nd.svg');
	background-repeat:	no-repeat,
						no-repeat;
	background-position:	0,
							22px;
	height:	22px;
	width:	44px;
}
.license-CC-BY-NC {
	background-image:	url('../../../image/cc-by.svg'),
						url('../../../image/cc-nc.svg');
	background-repeat:	no-repeat,
						no-repeat;
	background-position:	0,
							22px;
	height:	22px;
	width:	44px;
}
.license-CC-BY-NC-SA {
	background-image:	url('../../../image/cc-by.svg'),
						url('../../../image/cc-nc.svg'),
						url('../../../image/cc-sa.svg');
	background-repeat:	no-repeat,
						no-repeat,
						no-repeat;
	background-position:	0,
							22px,
							44px;
	height:	22px;
	width:	66px;
}
.license-CC-BY-NC-ND {
	background-image:	url('../../../image/cc-by.svg'),
						url('../../../image/cc-nc.svg'),
						url('../../../image/cc-nd.svg');
	background-repeat:	no-repeat,
						no-repeat,
						no-repeat;
	background-position:	0,
							22px,
							44px;
	height:	22px;
	width:	66px;
}

span.license {
	margin-left: 5px;
}

/* diff handler ------------- */
.diffbtn {
	/*background-color: #4CAF50;*/
	/*color: white;*/
	padding: 2px 6px;
	font-size: 12px;
	border: none;
	cursor: pointer;
}

.diffdown {
	position: relative;
	display: inline-block;
}

.diffdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.diffdown-content a {
	color: black;
	padding: 2px 6px;
	text-decoration: none;
	display: block;
}

.diffdown-content a:hover {background-color: #f1f1f1;}

.diffdown-content span {
	display: inline-block; 
	width: 40px;
}

.diffdown:hover .diffdown-content {
	display: block;
}

.diffdown:hover .diffbtn {
	background-color: #3e8e41;
}
